.image-field_type {
  .selected {
    margin-top: 15px;
    table {
      tr {
        td {
          padding: 9px 0;
          border-top: none;
          border-bottom: none;
          &:first-of-type {
            width: 0;
            padding-right: 15px;
          }
          &:last-of-type {
            padding-left: 15px;
          }
        }
      }
    }
  }
}
