<template>
  <div class="banner-block">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="caption">
            <div v-html="title" class="title"></div>
            <div v-html="description" class="description"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s8 actions">
          <a class="waves-effect waves-light btn-large btn-primary">
            Смотреть видео
          </a>
          <a class="waves-effect waves-light btn-large"
            v-if="$route.fullPath != '/'"
          >
            Записаться на курс
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Banner',
  props: {
    banners: {
      type: Array,
      default () {
        return [{
          title: 'Мы привозим в Россию<br>материалы HB BODY, Iwata, Norton',
          description: 'чтобы вы работали быстрее, качественнее и зарабатывали больше',
        }]
      }
    },
    active: {
      type: Number,
      default () {
        return 0
      }
    }
  },
  computed: {
    title () {
      return this.activeBanner.title
    },
    description () {
      return this.activeBanner.description
    },
    activeBanner () {
      return this.banners[this.active]
    }
  },
}
</script>

<style lang="stylus">
.banner-block
  color #fff
  padding-top 50px
  .caption
    background rgba(0,0,0,0.6)
    margin-bottom 20px
    padding 23px 28px
    display inline-block
    .title
      font-size 2.25em
      font-weight bold
      line-height 1.5
    .description
      margin-top 10px
      font-size 1.05em
  a
    margin-right 30px
</style>
