<template>
  <div class="brands-block">
    <div class="container">
      <div class="row">
        <div class="col s12 block-title">
          <div class="inner" v-html="blockTitle"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s4 center brand-card" v-for="brand in brands">
          <div class="inner">
            <div class="image">
              <img height="60"
                :alt="brand.name"
                :title="brand.name"
                :src="brand.image_url"
              />
            </div>
            <div class="description">
              <div class="text" v-html="brand.description"></div>
            </div>
            <div class="button">
              <a class="waves-effect waves-light btn-large btn-primary"
                v-html="brand.button_text"
                href="#"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="stylus">
.brands
  .block-title .inner
    padding 45px 0 25px
    color #fff
.brand-card
  .inner
    background #fff
    padding 30px
    font-size 16px
    .image
      min-height 113px
    .button
      padding 30px 0 17px
      .btn-large
        padding 0 1rem
</style>

<script>
export default {
  name: 'Brands',

  props: {
    brands: Array,
    blockTitle: {
      type: String,
      default () {
        return 'Напрямую от проверенных производителей'
      },
    },
  },
}
</script>

