<template>
  <div class="breadcrumbs-wrapper">
    <router-link class="breadcrumb" v-html="'Главная'"
      v-if="showHome" :to="'/'" exact="exact"
    />
    <router-link class="breadcrumb" v-for="(item, index) in list"
      :to="item.path" v-if="!isLast(index)" exact="exact" :key="index"
      v-html="showName(item)"
    />
  </div>
</template>

<script>
export default {
  props: {
    showHome: {
      type: Boolean, default () { return true }
    },
    showLast: {
      type: Boolean, default () { return false }
    },
    list: {
      type: Array, required: true, default () { return [] }
    },
    separator: String
  },
  methods: {
    isLast (index) {
      return index === this.list.length - 1
    },
    showName (item) {
      return item.meta && item.meta.name || item.name
    }
  }
}
</script>

<style lang="stylus">
.breadcrumbs-wrapper
  padding-top 33px
  padding-left 1px
  .breadcrumb, a.breadcrumb
    color #00a5b8
    font-size 1.08em
    position relative
    margin-right 50px
    &.active
      cursor default
      color transparent
      &:before
        transform rotate(90deg)
    &:before
      vertical-align initial
      color #000
      position absolute
      top -5px
      left -42px
      font-size 1.2em
</style>
