<template>
  <div class="input-field">
    <input type="checkbox" class="filled-in"
      :value="color.id"
      :id="'filter-color-' + color.slug"
      v-model="$parent.selected.colors"
    />
    <label :for="'filter-color-' + color.slug"></label>
  </div>
</template>

<script>
export default {
  props: {
    color: { type: Object, required: true },
    idx: { type: Number, required: true }
  },

  mounted () {
    this.addPseudoStyle('after', {
      'background-color': this.color.color,
      'border-color': this.color.color
    })
  },

  methods: {
    addPseudoStyle (element, props) {
      let
        _label = this.$el.querySelector('label'),
        _sheetId = 'pseudoStyles',
        _head = document.head || document.getElementsByTagName('head')[0],
        className = 'pseudoStyle' + this.idx,
        _sheet = document.getElementById(_sheetId) || document.createElement('style'),
        _tagName = _label.tagName,
        _selector = _tagName.toLowerCase() + '.' + className + ':' + element,
        _css = '', key

      for (key in props) {
        if (props.hasOwnProperty(key)) {
          _css += key + ':' + props[key] + ';'
        }
      }

      _sheet.id = _sheetId
      _label.classList.add('pseudoStyle' + this.idx)

      _sheet.innerHTML += '[type="checkbox"].filled-in:not(:checked) + ' +
        _selector + ', [type="checkbox"].filled-in:checked + ' + _selector + '{' +
        _css + '}'

      _head.appendChild(_sheet)

      return _label
    }
  }
}
</script>
