<template>
  <div class="featured-products-block">
    <div class="container">
      <div class="row">
        <div class="col s12 block-title">
          <div v-text="blockTitle" class="inner"></div>
        </div>
      </div>
      <div class="row">
        <product-card class="col s3"
          v-for="product in products"
          :product="product"
          :key="product.id"
        />
      </div>
      <div class="row">
        <div class="col s12 center to-catalog">
          <router-link class="waves-effect waves-light btn-large btn-primary"
            v-text="toCatalog"
            :to="'/catalog'"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="stylus">
.featured-products-block
  .container
    .row
      margin-bottom 0
    .to-catalog
      padding 30px 0 58px
.product-card
  .inner
    background #fff
    padding 20px 30px 15px
    position relative
    text-align center
    .title
      text-transform uppercase
      color #00a5b8
      font-size 1.2em
      font-weight bold
      padding-top 13px
      line-height 1.15
    .description
      font-size 0.9em
      padding 11px 5px
    .video-icon
      position absolute
      top 19px
      right 23px
</style>

<script>
import ProductCard from './ProductCard.vue'
import VideoIconSvg from '../svg/VideoIconSvg.vue'

export default {
  components: { VideoIconSvg, ProductCard },

  data () {
    return {
      blockTitle: 'Свежие ЛКМ',
      toCatalog: 'Перейти в каталог',
      maxHeight: 0
    }
  },

  props: {
    products: Array,
  },

  mounted () {
    this.fixHeightes()
  },

  methods: {
    /**
     * Make heightes the same
     */
    fixHeightes () {
      let cards = this.$el.querySelectorAll('.product-card > .inner')
      cards = Array.from(cards)
      // get max height
      cards.forEach(card => {
        this.maxHeight = card.offsetHeight > this.maxHeight
          ? card.offsetHeight
          : this.maxHeight
      })
      // set height to all
      cards.forEach(card => {
        card.style.height = Number(this.maxHeight - 20) + 'px'
      })
    }
  }
}
</script>
