<template>
  <div class="featured-news-block">
    <div class="container">
      <div v-if="blockTitle" class="row">
        <div class="col s12 block-title">
          <div v-html="blockTitle" class="inner"></div>
        </div>
      </div>
      <div class="row">
        <post-card class="col s4"
          v-for="post in posts"
          :post="post"
          :key="post.id"
        />
      </div>
    </div>
  </div>
</template>

<script>
import PostCard from './PostCard.vue'

export default {
  components: {
    PostCard
  },

  props: {
    blockTitle: { default () { return null } },
    posts: Array,
  },

  methods: {
    limit (text, lenght = 40) {
      return text.substr(0, lenght - 1)
    }
  }
}
</script>

<style lang="stylus">
.featured-news-block
  color #fff
  padding 30px 0
  .block-title
    color #000
    .inner
      padding 0
      font-size 30px
      margin -42px 0 6px
  .col.s4
    height 225px
</style>
