<template>
  <div class="fixed-feedback-block">
    <div class="call-me-button waves-effect waves-light btn-large btn-primary"
      @click="showModal('recall')"
    >
      <div class="inner">{{ callMe }}</div>
      <icon-phone-svg />
    </div>
    <div class="write-to-us-button waves-effect waves-light btn-large btn-primary"
      @click="showModal('question')"
    >
      <div class="inner">{{ writeToUs }}</div>
      <icon-mail-svg />
    </div>
  </div>
</template>

<script>
import IconMailSvg from '../svg/IconMailSvg.vue'
import IconPhoneSvg from '../svg/IconPhoneSvg.vue'

export default {
  components: { IconPhoneSvg, IconMailSvg },

  data () {
    return {
      callMe: 'Заказать звонок',
      writeToUs: 'Написать нам'
    }
  },

  methods: {
    showModal (key) {
      this.$bus.$emit('modal::show', key)
    }
  }
}
</script>

<style lang="stylus">
.fixed-feedback-block
  position fixed
  right 0
  margin-right -240px
  top calc(50% - 33px)
  cursor pointer
  z-index 1000
  .inner
    text-indent 15px
  svg
    width 50px
    position absolute
    top 15px
    left 0
    z-index 85
    height 20px
  .write-to-us-button
  .call-me-button
    height 50px
    display block
    transition transform 0.3s ease-out
    border none
    box-shadow none
    border-radius 0
  .call-me-button
    width 240px
    background #f35556
    transform translate3d(-50px, 0, 0)
    &:hover
      transform translate3d(-215px, 0, 0)
  .write-to-us-button
    width 215px
    background #00a5b8
    float right
    transform translate3d(-75px, 0, 0)
    &:hover
      transform translate3d(-240px, 0, 0)
</style>


