<template>
  <footer>
    <section class="connected">
      <div class="container">
        <div class="row">
          <div class="col s12 block-title">
            <div v-text="blockTitle" class="inner"></div>
          </div>
        </div>
        <div class="row">
          <div class="col s4 subscribe-wrap">
            <subscribe />
            <div id="vk_groups" class="vk_groups"></div>
          </div>
          <div class="col s8 youtube-wrap">
            <youtube />
          </div>
        </div>
      </div>
    </section>
    <section class="bottom">
      <div class="container">
        <div class="row">
          <div class="col s2 main-menu">
            <div class="inner">
              <ul>
                <li v-for="link in getLinks(mainMenu).slice(0, 8)">
                  <router-link
                    :to="{ path: fixUrl(link.url) }"
                    v-html="link.title"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="col s2 product-menu">
            <div class="inner">
              <ul>
                <li v-for="link in getLinks(productMenu).slice(0, 8)">
                  <router-link
                    :to="{ path: fixUrl(link.url) }"
                    v-html="link.title"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="col s5 posts">
            <div class="inner left">
              <div v-text="'Статьи для автомаляров'" class="block-name"></div>
              <div v-for="post in recentPosts" class="post-row">
                <router-link class="inner"
                  :to="{ path: '/blog/post/' + post.slug }"
                  v-html="post.title"
                />
              </div>
            </div>
          </div>
          <div class="col s3 about">
            <div class="inner">
              <div class="phone">
                <a class="number"
                  v-html="$root.phone.coloured"
                  :href="$root.phone.link"
                ></a>
                <div v-text="$root.phone.suffix" class="suffix"></div>
              </div>
              <div class="social-block">
                <div class="block-inner">
                  <icon-vk-svg />
                  <icon-youtube-svg />
                </div>
              </div>
              <div class="logo-block">
                <logo-svg v-if="$route.fullPath == '/'" />
                <router-link v-else :to="'/'">
                  <logo-svg />
                </router-link>
              </div>
              <div class="copyright">
                <div v-html="copyright" class="inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</template>

<script>
import LogoSvg from '../svg/LogoSvg.vue'
import IconVkSvg from '../svg/IconVkSvg.vue'
import IconYoutubeSvg from '../svg/IconYoutubeSvg.vue'

import Youtube from './Youtube.vue'
import Subscribe from './Subscribe.vue'
import { MenuMixin } from '../mixins'

export default {
  mixins: [ MenuMixin ],
  components: { Youtube, Subscribe, LogoSvg, IconVkSvg, IconYoutubeSvg },

  data () {
    return {
      blockTitle: 'Будем на связи!',
      copyright: '&copy; 2007-2016 Компания Апекс'
    }
  },

  props: {
    posts: Array,
  },

  computed: {

    recentPosts () {
      return this.posts.sort((a, b) => {
        if (a.publish_at < b.publish_at) {
          return -1
        }
        if (a.publish_at > b.publish_at) {
          return 1
        }
        return 0
      }).slice(0, 5)
    },

    mainMenu () {
      return this.getMenu('main_menu')
    },

    productMenu () {
      return this.getMenu('product_menu')
    }
  },

}
</script>

<style lang="stylus">
.vk_groups
  margin-top 20px
footer
  section.connected
    background #ebebeb
    margin-bottom -20px
    .block-title
      .inner
        padding 45px 0 5px
        color #000
    .subscribe-wrap
      margin-bottom 30px
    .youtube-wrap
      margin-bottom 60px
  section.bottom
    background #000
    padding-top 30px
    color #fff
    .row
      margin-bottom 0
      padding-bottom 60px
    .col.s2
      margin-top 2px
      &.main-menu
        a
          color #00a5b8
          &:before
            background #00a5b8
      &.product-menu
        a
          color #fff
          &:before
            background #fff
        li:hover a
          color #fff !important
      ul
        margin 10px 0 0 0
        li
          font-size 1.05em
          line-height 2.55
          a
            position relative
            &:before
              content ''
              position absolute
              bottom 0
              left 0
              height 1px
              width 100%
              transition all .3s linear
              transform scaleX(0)
          &:hover
            a:before
              transform scaleX(1)
    .posts
      .block-name
        font-size 1.6em
        font-weight bold
        padding 20px 0 0
      .post-row
        line-height 1.5
        margin-top 15px
        .inner
          line-height 1.5
          font-size 1.1em
          padding-left 4px
          color #fff
    .about
      font-size 1.05em
      line-height 1.4
      padding-top 22px
      > .inner
        text-align right
        .number
          font-size 1.5em
          color #fff
        .call-me
          margin-top 16px
        .social-block
          margin-top 26px
          svg
            margin-left 20px
        .logo-block
          margin-top 54px
          svg
            width 50%
            .fil0
              fill #d7d7d7
              transition fill 0.4s linear
            &:hover .fil0
              fill #00a5b8
        .copyright
          margin-top 12px
</style>
