<template>
  <div class="modals-inner">
    <modal v-for="(form, key) in forms" :show="form.show" :key="key">
      <div class="inner" slot="header">
        {{ form.title }}
        <button class="btn-flat right close" @click="form.show = false">
          <times-svg />
        </button>
      </div>
      <div class="inner" slot="body">
        <form class="axios-form" mode="POST" @submit.prevent="submitForm(key)">
          <input
            type="hidden"
            name="csrf_token"
            v-model="$root.csrfToken"
          />
          <div class="input-field" v-for="(fieldLabel, fieldName) in form.fields">
            <label :for="fieldName + '-field'">
              {{ fieldLabel }}*
            </label>
            <input id="phone-field" class="validation"
              v-if="fieldName === 'phone'"
              type="text"
              :name="fieldName"
              v-model="form.values[fieldName]"
              @blur="doOnPhoneBlur(key)"
              @focus="doOnPhoneFocus(key)"
              v-mask="'+7 (###) ###-##-##'"
              placeholder="+7 (___) ___-__-__"
            />
            <textarea class="materialize-textarea"
              :name="fieldName" v-if="fieldName == 'message'"
              id="message-field" v-model="form.values[fieldName]"
            ></textarea>
            <input id="name-field" class="validation"
              v-if="fieldName != 'message' && fieldName != 'phone'"
              type="text"
              :name="fieldName"
              v-model="form.values[fieldName]"
            />
          </div>
          <button class="waves-effect waves-light btn-large"
            v-for="(buttonTitle, buttonName) in form.buttons"
            :type="buttonName === 'submit' ? 'submit' : ''"
          >{{ buttonTitle }}</button>
        </form>
      </div>
      <div class="inner" slot="footer">
        {{ form.footer.text }}
      </div>
    </modal>
  </div>
</template>

<script>
import Modal from './Modal.vue'
import TimesSvg from '../svg/TimesSvg.vue'

export default {
  components: { Modal, TimesSvg },

  data () {
    return {
      recall: {
        title: 'Заказать звонок',
        show: false,
        ajax: true,
        fields: {
          name: 'Контактное лицо',
          phone: 'Телефон',
        },
        values: {
          name: '',
          phone: '',
        },
        action: '/recall',
        buttons: {
          submit: 'Заказать',
        },
        footer: {
          text: '* - поля, обязательные для заполнения.',
        }
      },
      question: {
        title: 'Написать нам',
        show: false,
        ajax: true,
        fields: {
          name: 'Как вас зовут?',
          email: 'Ваш контактный e-mail',
          message: 'Ваше сообщение',
        },
        values: {
          name: '',
          email: '',
          message: '',
        },
        action: '/question',
        buttons: {
          submit: 'Отправить',
        },
        footer: {
          text: '* - поля, обязательные для заполнения.',
        }
      },
    }
  },

  props: {
    forms: {
      type: Object,
      default () {
        return this.$data
      },
    },
  },

  methods: {
    submitForm (key) {
      this.$http.post(key, this.forms[key].values)
      // .then()
    },

    doOnPhoneBlur (key) {
      if (this.forms[key].values.phone.match(/^(\+|\+7|\+7 |\+7 \()$/g)) {
        this.forms[key].values.phone = ''
      }
    },

    doOnPhoneFocus (key) {
      if (this.forms[key].values.phone.match(/^(|\+|\+7|\+7 )$/g)) {
        this.forms[key].values.phone = '+7 ('
      }
    },
  },

  created () {

  },

  mounted () {
    /**
     * Bind show modal event
     */
    this.$bus.$on('modal::show', (payload) => {
      if (typeof payload === 'string') {
        this.forms[payload].show = true
      }
    })

    /**
     * Bind hide modal event
     */
    this.$bus.$on('modal::hide', () => {
      let key
      for (key in this.forms) {
        if (this.forms.hasOwnProperty(key)) {
          this.forms[key].show = false
        }
      }
    })
  },
}
</script>

<style lang="stylus">
textarea.materialize-textarea
  padding 0
  min-height 5rem
  width 100%
  margin 12px 0 0 -2px
</style>
