<template>
  <header class="page-header">
    <div class="bg bg-top">
      <div class="container">
        <div class="row row-top">
          <div class="col l2 logo-block">
            <logo-svg v-if="!notMainPage" />
            <router-link v-else :to="'/'" exact>
              <logo-svg />
            </router-link>
          </div>
          <div class="col l3 slogan-block">
            <div class="block-inner" v-if="config && config.description">
              <div class="slogan-text" v-html="config.description"></div>
            </div>
          </div>
          <div class="col l2 mail-block">
            <div class="block-inner">
              <div class="email">
                <a target="_blank"
                  :href="$root.email.link"
                  v-html="$root.email.address"
                ></a>
              </div>
            </div>
          </div>
          <div class="col l2 phone-block">
            <div class="block-inner">
              <div class="phone">
                <div class="number">
                  <a target="_blank"
                    :href="$root.phone.link"
                    v-html="$root.phone.simple"
                  ></a>
                </div>
                <div class="suffix">({{ $root.phone.suffix }})</div>
              </div>
            </div>
          </div>
          <div class="col l2 callme-block">
            <a class="waves-effect waves-light btn-large"
              v-html="'Перезвоните&amp;nbsp;мне'"
              @click="showModal"
            ></a>
          </div>
          <div class="col l1 social-block">
            <div class="block-inner">
              <icon-vk-svg />
              <icon-youtube-svg />
            </div>
          </div>
        </div>
        <div class="row row-middle">
          <div class="col l9 nav-block navigation-main">
            <div class="block-inner">
              <navigation-main :menu="mainMenu" />
            </div>
          </div>
          <div class="col l3 search-block">
            <div class="block-inner">
              <search-form :products="products" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg bg-bottom">
      <div class="container">
        <div class="row row-bottom">
          <div class="col l12 nav-block navigation-products">
            <div class="block-inner">
              <navigation-products :menu="productMenu" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="notMainPage"
      :class="{
        bg: true,
        'bg-crumbs': true,
        'grey-bg': isGreyCrumbs
      }"
    >
      <div class="container">
        <div class="row">
          <div class="col l12 crumbs-block">
            <div class="block-inner">
              <breadcrumbs :list="$route.matched" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import LogoSvg from '../svg/LogoSvg.vue'
import IconVkSvg from '../svg/IconVkSvg.vue'
import IconYoutubeSvg from '../svg/IconYoutubeSvg.vue'

import Modal from './Modal.vue'
import SearchForm from './SearchForm.vue'
import Breadcrumbs from './Breadcrumbs.vue'
import NavigationMain from './NavigationMain.vue'
import NavigationProducts from './NavigationProducts.vue'

export default {
  components: { LogoSvg, IconVkSvg, IconYoutubeSvg,
    Modal, SearchForm, Breadcrumbs, NavigationMain, NavigationProducts },

  props: {
    menus: Array,
    config: Object,
    products: Array,
  },

  computed: {
    notMainPage () {
      return this.$route.fullPath !== '/'
    },
    mainMenu () {
      return this.menus && this.menus.find((menu) => {
        return menu.slug === 'main_menu'
      }) || { links: [] }
    },
    productMenu () {
      return this.menus && this.menus.find((menu) => {
        return menu.slug === 'product_menu'
      }) || { links: [] }
    },
    isGreyCrumbs () {
      return this.$route.name === 'catalog.index' ||
        this.$route.name === 'catalog.product' ||
        this.$route.name === 'catalog.type'
    },
  },

  methods: {
    showModal () {
      this.$bus.$emit('modal::show', 'recall')
    },
    hideModal () {
      this.showRecallModal = false
    },

  },

  beforeCreate () {
    this.$bus.$on('modal::close', this.hideModal)
  }
}
</script>

<style lang="stylus">
.bg
  width 100%
  background #fff
  &.bg-crumbs
    background #fff
    &.grey-bg
      background #ebebeb
    .row
      margin-bottom 0
      padding-bottom 20px
.bg-bottom
  background #000
.page-header
  border-top 10px solid #00a5b8
  .row-top
    padding-top 48px
    .logo-block
      margin-top 6px
    .slogan-block
      margin-top 6px
      .slogan-text
        margin-left 8px
        font-size 16px
        line-height 1.3
    .email
      font-size 18px
      font-weight bold
      text-align right
      padding 0 12px
      a
        color #F25555
        &:hover
          color #f67373 !important
    .phone-block
      margin-right -23px
      .phone
        margin 2px 0 0 4px
        .number
          font-size 18px
          font-weight bold
          color #F25555
          margin 0
          a
            color #F25555
            &:hover
              color #f67373 !important
        .suffix
          font-size 14px
          margin -1px 0 0 -8px
    .callme-block
      margin-right 23px
      .btn-large
        font-weight bold
    .social-block
      padding-top 14px
      svg:first-child
        margin-right 10px
        margin-left 7px
  .row-middle
    .search-block
      margin-top 10px
      position relative
      .block-inner
        margin-left -24px
        margin-right 26px
  .row-bottom
    margin-bottom 0
  .nav-block
    ul
      padding-top 2px
      li
        float left
        margin-right 39px
        a
          font-size 18px
          font-weight bold
          text-transform uppercase
          color #000
          &.active
            color #00a5b8
          &.active:hover
            color #00a5b8 !important
    &.navigation-products
      ul
        margin 0
        padding 0
        li
          margin-right 0
          &.menu-toggler
            margin-right -17px
          a
            padding 18px 23px
            display block
            font-size 16px
            color #fff
            &.active
              background #00a5b8
              &:hover
                color #fff !important
</style>
