<template>
  <div class="login-form-wrapper">
    <li>
      <button class="waves-effect waves-light btn modal-trigger"
        v-show="isGuest"
        v-on:click="show = !show"
      >Sign In</button>
      <form action="/logout"
        :class="{ error: failed, 'login-form': true, 'logout-form': true }"
      >
        <input type="hidden" name="_token" v-model="token"/>
        <button class="waves-effect waves-light btn modal-trigger"
          v-show="!isGuest" type="submit"
        >Logout</button>
      </form>
    </li>
    <modal id="login-modal" :show="show">
      <h4 slot="header">Login</h4>
      <form slot="body" :class="{ error: failed, 'login-form': true }"
        action="/login" method="post">
        <input type="hidden" name="_token" :value="token"/>
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input name="email" id="icon-email" type="email"
              required="required" autofocus="autofocus" class="validate" />
            <label for="icon-email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input name="password" id="icon-password" type="password"
              required="required" class="validate" />
            <label for="icon-password">Password</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light btn-large"
          type="submit" name="action"
        >Submit<i class="material-icons right">send</i></button>
      </form>
      <div slot="footer"></div>
    </modal>
  </div>
</template>

<script>
import Modal from './Modal.vue'

export default {
  name: 'LoginForm',
  components: { Modal },

  data () {
    return {
      show: this.isGuest || false,
      failed: false
    }
  },

  computed: {
    isGuest () {
      return this.$root.isGuest || true
    },
    token () {
      return CSRF_TOKEN
    },
  },
}
</script>

<style lang="stylus">
.login-form-wrapper
  float left
#login-modal
  > div.modal-wrapper .modal-container
    width 600px
    padding 20px 60px 40px
    .input-field
      .prefix
        line-height 1.5
      label
        width 92%
</style>
