<template>
  <div class="main-product-block">
    <div class="container">
      <div class="row">
        <div class="col s12 title">
          <div v-html="product.title" class="inner"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s4 video">
          <div class="inner">
            <iframe width="100%" height="210px"
              :src="product.video"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="col s5 info">
          <div class="inner">
            <div v-html="product.summary" class="summary"></div>
            <div v-html="product.description" class="description"></div>
          </div>
        </div>
        <div class="col s3 advantages">
          <div class="inner">
            <div class="advantage"
              v-for="(adv, idx) in product.advantages"
              :key="idx"
            >
              <div class="inner">
                <div v-html="adv" class="text"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 read-more center">
          <a class="waves-effect waves-light btn-large btn-primary">
            {{ readMore }}
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="stylus">
.main-product-block
  .row
    margin-bottom 0
  .title
    font-size 40px
    font-weight bold
    .inner
      padding 45px 0 35px
  .video
  .info
    .inner
      padding 25px 33px 33px
      line-height 1.35
      background #fff
      .summary
        font-size 18px
        margin-bottom 14px
  .advantages
    .inner
      .advantage
        float left
        width 50%
        height 1px
        position relative
        overflow visible
        .inner
          position absolute
          border-radius 50%
          width 140px
          height 140px
          .text
            display table-cell
            width 100%
            height 140px
            vertical-align middle
            padding 0 15px
            text-align center
            font-size 1.08em
            font-weight bold
            line-height 1.25
        &:nth-child(odd) .inner
          left 5px
          background #00a5b8
          color #fff
        &:nth-child(even) .inner
          left -5px
          background #000
          color #00a5b8
  .read-more
    padding 30px 0 60px
</style>

<script>
export default {
  data () {
    return {
      readMore: 'Смотреть подобное описание',
      product: {
        title: 'Многофункциональный грунт-наполнитель BODY 334 HS',
        summary: 'Порозаполняющий изоляционный грунт на основе акриловой смолы.',
        description: 'Наполнитель допускает нанесение слоев малой, средней и высокой толщины со шлифовкой или «мокрый по мокрому». Превосходная растекаемость и короткое время высыхания гарантируют отличное применение и быструю шлифовку. После рекомендуемой сушки обеспечивает надежную изоляцию нижних слоев. Идеальный грунт для не отшлифованной заводской панели ( O.E.M. / E-COAT ).',
        video: 'https://www.youtube.com/embed/FPahyoB1tVk',
        advantages: [
          'Адгезия на все виды металла и пластика',
          'Сохнет<br>1,5&nbsp;часа при 23&nbsp;°C!'
        ]
      }
    }
  }
}
</script>
