<template>
  <div v-if="messageSuccess" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
  <div v-if="messageInfo" class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
  <div v-if="messageWarning" class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
  <div v-if="messageError" class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
</template>

<script>
/*global Materialize*/

export default {

  data() {
    return {
      messages: {
        error: [],
        success: []
      }
    }
  },

  methods: {
    showError(res) {
      this._showToast(res.msg, 'red-draken-2')
    },

    showWarning(res) {
      this._showToast(res.msg, 'yellow-draken-2')
    },

    showSuccess(res) {
      this._showToast(res.msg, 'green-lighten-2')
    },

    showInfo(res) {
      this._showToast(res.msg)
    },

    _showToast(msg, css = 'blue-lighten-2') {
      Materialize.toast(msg, 4000, css)
    }
  },

  events: {
    'message:push'(res) {
      if (!res || !res.status) return false
      switch (res.status) {

      case 200:
        res.type = 'success'
        break

      default:
        res.type = 'error'
      }

      this.$set('messages.' + res.type, res)
    }
  }
}
</script>

