<template>
  <ul class="hide-on-med-and-down" v-if="links !== []">
    <li v-for="link in topLinks">
      <router-link
        :to="{ path: fixUrl(link.url) }"
        v-html="link.title"
        exact
      />
    </li>
    <li class="menu-toggler">
      <div :class="{ open: showBottomMenu, icon: true }"
        @click="openBottomMenu()"
      ></div>
    </li>
    <transition name="bottom-menu">
      <ul class="bottom-menu" v-show="showBottomMenu">
        <li v-for="link in bottomLinks">
          <router-link
            :to="{ path: fixUrl(link.url) }"
            v-html="link.title"
            exact
          />
        </li>
      </ul>
    </transition>
  </ul>
</template>

<script>
import { MenuMixin } from '../mixins'

export default {
  mixins: [ MenuMixin ],

  data () {
    return {
      showBottomMenu: false
    }
  },

  computed: {
    topLinks () {
      return this.links.slice(0, 8)
    },
    bottomLinks () {
      return this.links.slice(8)
    }
  },

  methods: {
    openBottomMenu () {
      this.showBottomMenu = !this.showBottomMenu
    }
  },
}
</script>

<style lang="stylus">
.bottom-menu
  height 60px
  transition height 0.4s ease-out
  overflow hidden
  float left
.bottom-menu-enter
.bottom-menu-leave-active
  height 0px
.icon
  position relative
  width 50px
  height 60px
  cursor pointer
  &:before
  &:after
    content ''
    position absolute
    background #fff
    height 3px
    top 27px
    width 17px
    transition transform 0.4s ease-out
  &:before
    left 15px
    transform rotate(45deg)
  &:after
    left 25px
    transform rotate(-45deg)
  &.open:before
    transform rotate(405deg) translate(5px, -5px)
  &.open:after
    transform rotate(-405deg) translate(-2px, -2px)
</style>
