<template>
  <ul v-if="links !== []" class="hide-on-med-and-down">
    <li v-for="link in links">
      <router-link
        :to="{ path: fixUrl(link.url) }"
        v-html="link.title"
        exact
      />
    </li>
  </ul>
</template>

<script>
import { MenuMixin } from '../mixins'

export default {
  mixins: [ MenuMixin ],
}
</script>
