<template>
  <div class="post-card">
    <div class="inner wide" v-if="wide">
      <div class="card-wrapper">
        <div class="image col-item" v-if="imageSrc">
          <router-link :to="'/blog/post/' + post.slug">
            <img :src="imageSrc" :alt="post.title" />
          </router-link>
        </div>
        <div class="content col-item" :class="{ fw: !imageSrc }">
          <router-link class="title"
            v-html="post.title"
            :to="'/blog/post/' + post.slug"
          />
          <div class="description" v-html="post.description"></div>
          <div class="description" v-html="post.summary"></div>
          <div class="date" v-html="post.created_at"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <router-link class="inner"
      v-else
      :style="{ backgroundImage: imageUrl }"
      :to="'/blog/post/' + post.slug">
      <div class="caption">
        <div class="title"
          v-html="post.title"
          :class="{ 'add-margin': !post.summary }"
        ></div>
        <div class="description" v-html="post.summary"></div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'PostCard',

  props: {
    post: Object,
    wide: Boolean,
  },

  computed: {
    imageSrc () {
      return this.post && this.post.image_url || null
    },
    imageUrl () {
      return this.imageSrc && 'url(' + this.imageSrc + ')' || ''
    },
  },
}
</script>

<style lang="stylus">
.post-card
  > .inner
    display block
    height 100%
    width 100%
    padding-top 120px
    background-size 100% 100%
    background-repeat no-repeat
    transition all 0.3s linear
    &:hover
      box-shadow 2px 2px 7px rgba(0,0,0,0.2)
    &.wide
      margin-top 30px
      min-height 180px
      padding 25px 35px
      .col-item
        float left
        &.image
          width 35%
          margin-right 4%
        &.content
          width 60%
        &.fw
          width 100%
        .title
          font-size 1.65rem
          font-weight bold
          line-height 1.3
          display block
          margin-bottom 5px
    .caption
      color #fff
      height 105px
      background rgba(0,0,0,0.6)
      padding 10px 30px
      .title
        font-size 24px
        font-weight bold
        line-height 1.3
        overflow hidden
        max-height 30px
        &.add-margin
          margin-top 17px
      .description
        font-size 16px
        overflow hidden
        max-height 60px
        line-height 1.65
        margin-top 5px
</style>

