<template>
  <div class="properties-block product-properties">
    <div class="inner">
      <div class="block-title">Характеристики</div>
      <table class="responsive-table striped">
        <tbody>
          <tr
            v-for="property in properties"
            :key="property.id"
          >
            <td>{{ property.name }}</td>
            <td>{{ property.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductProperties',
  props: {
    properties: {
      type: Array,
      default () {
        return [{ id: 0, name: '', value: '' }]
      }
    }
  },
}
</script>
