<template>
  <div class="filters-block-wrapper">
    <div class="filrers-block">
      <div v-for="filter, filterKey in filters"
        :class="['filter-' + filterKey]"
        class="filter"
      >
        <div class="inner">
          <div class="title" v-if="filter.title" v-text="filter.title"></div>
          <div class="form" v-if="filter.type == 'checkboxes'">
            <div class="input-field"
              v-for="item, itemKey in getItems(filter)"
              >
              <input type="checkbox"
                :value="item.id"
                :id="'filter-' + filterKey + '-' + itemKey"
                v-model="selected[filterKey]"
                @change="relationFilterChanged($event)"/>
              <label :for="'filter-' + filterKey + '-' + itemKey"
                v-text="getLabel(item)"></label>
            </div>
          </div>
          <div class="form" v-if="filter.type == 'interval'">
            <p class="range-field">
              <input type="range" id="interval" step="1" min="80" max="1500"/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// <div class="filter filter-color">
//   <div class="inner">
//     <div class="title">Цвет</div>
//     <div class="form">
//       <color-checkbox v-for="(color, idx) in top_colors" v-bind:color="color" v-bind:idx="idx" v-on:change="relationFilterChanged"></color-checkbox>
//     </div>
//   </div>
// </div>
import ColorCheckbox from './ColorCheckbox.vue'

export default {
  components: {
    ColorCheckbox
  },

  /**
   * Initial state of filters
   *
   * @return     {Object}
   */
  data () {
    return {
      selected: {
        brand: [],
      },
    }
  },

  props: {
    types: Array,
    brands: Array,
    filters: Object,
  },

  computed: {
  },

  methods: {

    getLabel (item) {
      if (typeof item === 'string') {
        return item
      }
      return item.name || item.label
    },

    /**
     * Clearing filters state
     */
    clearFilters () {
      let vm = this
      Object.keys(vm.selected).forEach((key) => {
        vm.selected[key] = []
      })
      this.fireNullEvent()
    },

    /**
     * Relation filter change callback
     */
    relationFilterChanged () {
      let vm = this
      if (Object.keys(vm.selected).every((key) => {
        return !vm.selected[key].length
      })) {
        vm.fireNullEvent()
      } else {
        this.$bus.$emit('filter::change', this.selected)
      }
    },

    /**
     * Fire empty data event to clear parent
     */
    fireNullEvent () {
      this.$bus.$emit('filter::change', null)
    },

    /**
     * Other filter change callback
     */
    otherFilterChanged () {

    },

    /**
     * Gets the items.
     *
     * @param      {<type>}  filter  The filter
     * @return     {<type>}  The items.
     */
    getItems (filter) {
      if (typeof filter.items === 'string') {
        return this[filter.items]
      } else {
        return filter.items
      }
    }
  }
}

</script>


<style lang="stylus">
.filter
  padding 10px 30px 40px
  margin-bottom 2px
  background #fff
  .title
    font-size 1.18rem
    font-weight bold
    line-height 1.6rem
    margin-bottom 7px
    margin-top 15px
  .form
    padding-left 2px
  .input-field
    margin-top 5px
  [type="checkbox"] + label
    font-size 0.9rem
    color #000
  &.filter-color
    .input-field
      width 20%
      display inline-block
      text-align center
  &.action
    padding 30px
    text-align center
    .btn-large
      background #ebebeb
      color #00a5b9
      box-shadow none
      &:hover
        box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
</style>
