<template>
  <div class="product-card">
    <router-link class="inner"
      :to="{ name: 'catalog.product', params: { slug: product.slug } }"
    >
      <div class="image">
        <img v-if="product.image_id > 0" :src="product.image_url"/>
        <img v-else :src="getBrandImage(product.brand_id)"/>
      </div>
      <div v-html="product.title" class="title"></div>
      <div v-html="product.summary + '...'" class="description"></div>
      <div v-if="product.video" class="video-icon">
        <video-icon-svg></video-icon-svg>
      </div>
      <div v-if="product.new" class="new-label">
        <div class="inner">
          <div class="label">Новинка</div>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
import VideoIconSvg from '../svg/VideoIconSvg.vue'

export default {
  name: 'ProductCard',
  components: { VideoIconSvg },

  props: {
    product: Object,
    brands: Array,
  },

  methods: {
    getBrandImage (id) {
      let productBrand = this.brands && this.brands.find(brand => id === brand.id)
      return productBrand && productBrand.image_url
    },
  },
}
</script>

<style lang="stylus">
.product-card
  > .inner
    background #fff
    padding 20px 30px
    position relative
    text-align center
    display block
    height 350px
    margin-bottom 0
    .image
      padding-bottom 20px
      height 180px
      display table-cell
      vertical-align middle
      margin 0 auto
      img
        max-width 100%
        max-height 160px
    .title
      text-transform uppercase
      color #00a5b8
      font-size 1.2em
      font-weight bold
      overflow hidden
      display -webkit-box
      -webkit-box-orient vertical
      // -webkit-line-clamp 2
      padding-top 4px
      line-height 1.15
      margin 0 -15px
      // max-height 45px
    .description
      color #000
      font-size 0.9em
      padding 11px 0
      margin 0 -15px
      overflow hidden
      text-overflow ellipsis
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 3
      max-height 72px
    .video-icon
      position absolute
      top 10px
      right 25px
</style>

