<template>
  <div class="reviews-block">
    <div class="container">
      <div class="row">
        <div class="col s10 block-title">
          <div v-html="blockTitle" class="inner"></div>
        </div>
        <div class="col s2 siblings-toggler">
          <div class="inner right">
            <div @click="goPrev()" class="prev"></div>
            <div @click="goNext()" class="next"></div>
          </div>
        </div>
      </div>
      <div class="row reviews">
        <div class="col s12">
          <div class="inner">
            <transition-group name="review-card" mode="out-in">
              <div class="review-card-item"
                v-for="(review, idx) in reviews"
                v-if="idx == activeReview"
                :key="review.id"
              >
                <div class="inner">
                  <div class="media center">
                    <div class="inner">
                      <div class="photo">
                        <img :src="review.image_url"/>
                      </div>
                      <div v-html="review.name + ','" class="name"></div>
                      <div v-html="review.profession" class="profession"></div>
                    </div>
                  </div>
                  <div class="content">
                    <div class="inner">
                      <div class="review-text"
                        v-html="review.description"
                      ></div>
                      <div class="review-link">
                        <a class="waves-effect waves-light btn-large btn-primary"
                          target="_blank"
                          :href="review.link_url"
                          v-html="review.link_title"
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </transition-group>
          </div>
        </div>
      </div>
      <div class="row reviews-navigation">
        <div class="col s12 center">
          <div class="review-point"
            v-for="(review, idx) in reviews"
            @click="goTo(idx)"
          >
            <div class="inner">
              <div class="photo"><img :src="review.image_url"/></div>
              <div class="tooltip"
                v-html="review.name + ',&lt;br&gt;' + review.profession"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      activeReview: 0,
      blockTitle: 'Нас рекомендуют профи авторемонта',
    }
  },

  props: {
    reviews: Array,
  },

  methods: {

    /**
     * Goes to the next review
     */
    goNext () {
      this.activeReview = (this.activeReview === this.reviews.length - 1)
        ? 0
        : this.activeReview + 1
    },

    /**
     * Goes to the prev review
     */
    goPrev () {
      this.activeReview = (this.activeReview === 0)
        ? this.reviews.length - 1
        : this.activeReview - 1
    },

    /**
     * Goes to review by index
     *
     * @param      {Number}  idx     The index
     */
    goTo (idx) {
      this.activeReview = idx
    },

    // beforeEnter (el) {
    //   el.style.opacity = 0
    //   el.style.position = 'absolute'
    // },

    // enter (el, done) {
    //   window.Vel(el, { opacity: 1 }, { duration: 300 })
    //   window.Vel(el, { position: 'relative' }, { duration: 0, complete: done })
    // },

    // leave (el, done) {
    //   window.Vel(el, { opacity: 0 }, { duration: 300, complete: done })
    //   // window.Vel(el, { position: 'absolute' }, { duration: 0 })
    // },
  },
}
</script>

<style lang="stylus">
.review-card-item
  transition opacity 1s, transform 1s
  display inline-block
  width 100%
.review-card-enter
.review-card-leave-to
  opacity 0
.review-card-enter
  transform translateX(10px)
.review-card-leave-to
  transform translateX(-10px)
.review-card-leave-active
  position absolute
.reviews-block
  .row
    margin-bottom 0
  .block-title
    padding-top 10px
  .siblings-toggler
    .inner
      padding-top 50px
      > div
        float left
        width 40px
        height 40px
        background #fff
        position relative
        cursor pointer
        &:before
        &:after
          content ''
          width 3px
          height 14px
          position absolute
          background #000
          border-radius 2px
          left 18px
        &:before
          transform rotate(44deg)
          top 8px
        &:after
          transform rotate(-44deg)
          top 17px
      .prev
        margin-right 30px
      .next
        &:before
          transform rotate(-44deg)
          top 8px
        &:after
          transform rotate(44deg)
          top 17px
  .photo
    border-radius 50%
    background #ccc
    height 140px
    width 140px
    margin 0 auto
    overflow hidden
    img
      width 100%
  .reviews > .col > .inner
    position relative
  .review-card-item
    .inner
      padding-top 10px
      .media
        float left
        width 270px
        height 270px
        background #ebebeb
        .inner
          padding 29px 40px 0 25px
          line-height 1.35
          .name
            color #00a5b8
            font-size 16px
            font-weight bold
            margin-top 15px
    .content
      float left
      width calc(100% - 270px)
      height 270px
      background #fff
      .inner
        padding 41px 40px 0 58px
        line-height 1.7
        position relative
        &:before
          content ''
          position absolute
          width 0
          height 0
          border-style solid
          border-width 0 0 40px 40px
          border-color transparent transparent #ffffff transparent
          top 80px
          left 0
          transform translateX(-100%)
        .review-text
          font-size 24px
          p
            margin 0
        .review-link
          margin-top 29px
  .reviews-navigation
    padding-top 30px
    .review-point
      display inline-block
      margin 0 10px
      position relative
      cursor pointer
      .photo
        width 50px
        height 50px
      .tooltip
        position absolute
        color #fff
        width 350px
        bottom 50px
        left 30px
        background #00a5b8
        text-align left
        padding 10px
        font-size 14px
        font-weight bold
        line-height 1.2
        opacity .3
        transition all .3s cubic-bezier(0, 0, 0.4, 0.99)
        transform-origin left bottom
        transform scale(0)
        transition-delay 0
        &:before
          content ''
          position absolute
          bottom -20px
          left 0
          width 0
          height 0
          border-style solid
          border-width 20px 20px 0 0
          border-color #00a6b8 transparent transparent transparent
      &:hover
        .tooltip
          opacity 1
          transform scale(1)
          z-index 100
</style>
