<template>
  <div class="search-form">
    <input
      id="search_input"
      class="validate"
      type="text"
      placeholder="Поиск"
      v-model="searchInput"
      @blur="showUl = false"
      @focus="showUl = true"
    />
    <search-svg />
    <ul class="search-helper" v-show="showUl">
      <li v-for="product, key in filtered" :key="product.slug">
        <router-link class="inner title"
          v-html="product.title"
          :to="{ name: 'catalog.product', params: { slug: product.slug } }"
        />
      </li>
    </ul>
  </div>
</template>

<script>
import SearchSvg from '../svg/SearchSvg.vue'

export default {
  components: {
    SearchSvg
  },

  data () {
    return {
      searchInput: '',
      showUl: false,
    }
  },

  props: {
    products: Array,
  },

  computed: {
    filtered () {
      let regExp
      if (this.searchInput) {
        regExp = new RegExp(this.searchInput, 'gi')
      }
      return this.products.filter(product => {
        return product.title.match(regExp)
      }).slice(0, 6)
    },
  },
}
</script>

<style lang="stylus">
.search-form
  svg
    position absolute
    top 10px
    right 26px
    fill #aaa
  ul.search-helper
    position absolute
    background #fff
    width 300px
    box-shadow 3px 3px 6px -2px #000
    top 25px
    z-index 100
    li
      padding 5px
</style>
