<template>
  <div class="subscribe-block">
    <div class="inner">
      <div class="block-name" v-html="'Подписаться на новости'"></div>
      <form :action="form.action" class="subscribe-form"
        @submit.prevent="submitForm($event)"
      >
        <input type="hidden" name="_token" :value="$root.csrfToken">
        <div class="input-field">
          <label for="email-field" v-html="'Электронная почта'"></label>
          <input type="email" id="email-field" class="validate"
            data-validate="1" name="email" v-model="form.email" />
        </div>
        <div class="buttons-block center">
          <button class="waves-effect waves-light btn-large" type="submit">
            Получать новости
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Subscribe',
  data () {
    return {
      form: {
        email: '',
        action: '/subscribe'
      }
    }
  },

  methods: {
    submitForm (event) {
      this.$http.form(event.target)
    }
  }
}
</script>

<style lang="stylus">
.subscribe-block
  background #fff
  color #000
  .inner
    padding 20px 30px 25px
    .block-name
      font-size 1.6em
      font-weight bold
    .subscribe-form
      padding-top 5px
      .input-field
        #email-field
          width calc(100% - 24px)
          background #fff
          color #000
          &:focus
            border-bottom 2px solid #00a5b8
            box-shadow 0 1px 0 0 #00a5b8
        label
          position relative
          font-size 1.1em
          top -10px
          &.active
            color #00a5b8

</style>
