<template>
  <div class="where-to-buy-block">
    <div class="container">
      <div class="row">
        <div class="col s12 block-title">
          <div v-text="blockTitle" class="inner"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s9 map">
          <map-of-russia-svg />
        </div>
        <div class="col s3 info">
          <a class="waves-effect waves-light btn-large order">
            Сделать заказ
          </a>
          <a class="waves-effect waves-light btn-large btn-primary partner">
            Стать партнером
          </a>
          <div class="call">
            <div class="title">Не нашли свой город?</div>
            <div class="phone">
              <div class="prefix">Позвоните нам по телефону</div>
              <div v-html="$root.phone.coloured" class="number"></div>
              <div class="suffix">({{ $root.phone.suffix }})</div>
            </div>
            <div class="end">
              и узнайте, как связаться с ближайшим представителем в регионе.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="stylus">
.where-to-buy-block
  .block-title
    .inner
      padding 45px 0 15px
      color #000
  .map
    padding 15px 10px
    svg
      max-width 100%
  .info
    font-size 16px
    .order
      width 100%
      margin-top 18px
    .partner
      width 100%
      margin-top 28px
    .call
      padding 27px 5px
      line-height 1.2
      .title
        font-size 24px
        font-weight bold
        margin-bottom 20px
      .end
        margin-top 23px
</style>

<script>
import MapOfRussiaSvg from '../svg/MapOfRussiaSvg.vue'

export default {
  components: { MapOfRussiaSvg },
  data () {
    return {
      blockTitle: 'Апекс доставляет в крупнейшие торговые сети'
    }
  }
}
</script>
