<template>
  <div class="youtube-block">
    <div class="inner">
      <div class="row">
        <div class="col s12 block-name">
          <div v-text="blockName" class="inner"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 video-card" v-for="video in videos">
          <div class="inner">
            <iframe width="100%" height="210px"
              frameborder="0" allowfullscreen
              :src="'https://www.youtube.com/embed/' + getVideoId(video)"
            ></iframe>
            <a class="video-title" v-html="video.snippet.title"
              :href="'https://www.youtube.com/watch?v=' + getVideoId(video)"
            ></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a class="waves-effect waves-light btn-large subscribe"
            @click.prevent="fireYoutubeRequest"
          >{{ subscribeText }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/*eslint-disable no-cond-assign*/

export default {
  data () {
    return {
      blockName: 'Видеоблог профи авторемонта',
      subscribeText: 'Подписаться на канал',
      videos: []
    }
  },

  computed: {
    userId () {
      return this.$root.youtube && this.$root.youtube.userId || null
    },
    apiKey () {
      return this.$root.youtube && this.$root.youtube.apiKey || null
    },
    channelId () {
      return this.$root.youtube && this.$root.youtube.channelId
    }
  },

  mounted () {
    const vm = this
    this.$http.get('https://www.googleapis.com/youtube/v3/activities', {
      params: {
        part: 'snippet,contentDetails',
        channelId: this.channelId,
        key: this.apiKey,
        maxResults: 2
      }
    })
    .then(response => {
      vm.videos = response && response.data && response.data.items || []
    })
    .catch(reason => { console.log(reason) })
  },

  methods: {
    getVideoId (video) {
      return video && video.contentDetails &&
        video.contentDetails.upload && video.contentDetails.upload.videoId
    },
    fireYoutubeRequest () {
      // api.post('https://www.googleapis.com/youtube/v3/subscriptions?part=snippet&key=' + this.apiKey, {
      //   params: {
      //     snippet: {
      //       resourceId: {
      //         kind: 'youtube#channel',
      //         channelId: this.channelId
      //       }
      //     }
      //   }
      // })
      // .then(response => {
      //   console.log(response)
      // })
      // .catch(reason => {
      //   console.log(reason)
      //   // this.auth()
      // })
    },
    auth () {
      // api.get('https://accounts.google.com/o/oauth2/auth?' +
      //   'client_id=387515860563-a4bi0rldnkd5571hi6hn8vrbocs1psni.apps.googleusercontent.com&' +
      //   'redirect_uri=https://apex.web812.pro/oauthcb&' +
      //   'response_type=token&scope=https://www.googleapis.com/auth/youtube&' +
      //   'prompt=select_account consent')
      // .then(response => {
      //   // First, parse the query string
      //   const params = {}
      //   const queryString = window.location.hash.substring(1)
      //   const regex = /([^&=]+)=([^&]*)/g
      //   let m

      //   while (m = regex.exec(queryString)) {
      //     params[decodeURIComponent(m[1])] = decodeURIComponent(m[2])
      //   }
      //   // And send the token over to the server
      //   const req = new XMLHttpRequest()

      //   // consider using POST so query isn't logged
      //   req.open('GET', 'https://' + window.location.host + '/oauthcb?' + queryString, true)

      //   req.onreadystatechange = function (e) {
      //     if (req.readyState === 4) {
      //       if (req.status === 200) {
      //         window.location = params['state']
      //       } else if (req.status === 400) {
      //         alert('There was an error processing the token.')
      //       } else {
      //         alert('something else other than 200 was returned')
      //       }
      //     }
      //   }
      //   req.send(null)
      //   console.log(response)
      // })
      // .catch(reason => {
      //   console.log(reason)
      // })
    }
  }
}
</script>

<style lang="stylus">
.youtube-block
  > .inner
    background #fff
    padding 30px
    .block-name
      font-size 1.6em
      font-weight bold
      padding-bottom 15px
    .video-card
      margin-bottom -5px
      .video-title
        color #00a5b8
        font-weight bold
        font-size 1.25em
        padding-top 12px
        line-height 1.15
    .subscribe
      margin-bottom -20px
    .ytp-title-playlist-icon + span
      display none
</style>
