// @import url('https//fonts.googleapis.com/icon?family=Material+Icons')

$primary-color=#00A5B8
$primary-color-light=#00bfce
$primary-color-dark=#59cdd6
$secondary-color=#F25555
$secondary-color-light=#F67373
$secondary-color-dark=#FD9999
$bg-primary=#ebebeb
$small-screen-up=601px
$medium-screen-up=993px
$large-screen-up=1201px
$small-screen=600px
$medium-screen=992px
$large-screen=1200px

@import '../css/materialize.css'

// @font-face
//   font-family 'Material Icons'
//   font-style normal
//   font-weight 400

//   src local('Material Icons'), local('MaterialIcons-Regular'), url('/fonts/material-icons.woff2') format('woff2')
//
html
  font-family 'Roboto', Helvetica, sans-serif
body
  background $bg-primary
  color #000
  overflow-x hidden
h1
.h1
h2.h1
  font-size 2.7rem
  font-weight bold
  line-height 1.35em
  margin 0 0 9px
h2
.h2
h1.h2
  font-size 2rem
  line-height 110%
  margin 1.78rem 0 0 0
  font-weight bold
h3
.h3
  font-size 1.23rem
  line-height 110%
  margin 1.46rem 0 0 0
  font-weight bold
h4
.h4
  font-size 1.09rem
  line-height 110%
  margin 1.5rem 0 0 0
h3.name {
  font-size: 1.65rem;
  line-height: 1em;
  margin-bottom: 0.5rem;
}
a
  transition all 0.3s linear
  &:hover
    color $primary-color !important
  &.btn-large.btn-primary:hover
    color #fff !important
  &.active:hover
    color #fff !important
    cursor default
  &.btn-large:hover
    color #fff !important
p
  font-size 1.15rem
.btn-large
  font-weight bold
  height 52px
  line-height 52px
  background $secondary-color
  &:hover
    background $secondary-color-light
  &:active
    background $secondary-color-dark
  &:focus
    background $secondary-color
.btn-primary
  background $primary-color
  &:hover
    background $primary-color-light
  &:active
    background $primary-color-dark
  &:focus
    background $primary-color
img
  max-width 100%
  max-height 300px
// .material-icons
//   display inline-block
//   font-family 'Material Icons'
//   font-size 24px
//   font-style normal
//   font-weight normal
//   letter-spacing normal
//   line-height 1
//   text-transform none
//   white-space nowrap
//   word-wrap normal
//   direction ltr
input:not([type])
input[type=text]
input[type=password]
input[type=email]
input[type=url]
input[type=time]
input[type=date]
input[type=datetime]
input[type=datetime-local]
input[type=tel]
input[type=number]
input[type=search]
textarea.materialize-textarea
  background #fff
  border 2px solid $bg-primary
  border-bottom-width 1px
  border-radius 4px
  box-shadow inset 0 -1px 0 $bg-primary
  height inherit
  line-height 1
  padding 9px 11px
[type=checkbox] + label:before
[type=checkbox]:not(.filled-in) + label:after
  border-color #ddd
  border-radius 3px
  border-style solid
  border-width 2px
  height 20px
  transform initial
  width 20px
[type=checkbox] + label:before
  border-top none
  border-left none
[type=checkbox]:checked + label:before
  border-top none
  border-left none
  border-bottom 3px solid $primary-color
  border-right 3px solid $primary-color
  height 20px
  left -1px
  top -3px
  width 12px
  z-index 1
[type=checkbox].filled-in:checked + label:before
  border-bottom 3px solid #ddd
  border-right 3px solid #ddd
  height 20px
  left -1px
  top -3px
  width 12px
input:not([type]):focus:not([readonly])
input[type=text]:focus:not([readonly])
input[type=password]:focus:not([readonly])
input[type=email]:focus:not([readonly])
input[type=url]:focus:not([readonly])
input[type=time]:focus:not([readonly])
input[type=date]:focus:not([readonly])
input[type=datetime]:focus:not([readonly])
input[type=datetime-local]:focus:not([readonly])
input[type=tel]:focus:not([readonly])
input[type=number]:focus:not([readonly])
input[type=search]:focus:not([readonly])
textarea.materialize-textarea:focus:not([readonly])
  border-bottom: 1px solid $primary-color
  box-shadow: 0 2px 0 0 $primary-color
.block-title
  color #fff
  .inner
    font-size 40px
    font-weight bold
    padding 35px 0 15px
.phone
  .number
    font-size 34px
    font-weight bold
    margin-top 14px
    white-space nowrap
    .accent
      color $primary-color
  .suffix
    margin-top 7px
.modal-mask
  background-color rgba(0, 0, 0, 0.5)
  display table
  height 100%
  left 0
  position fixed
  top 0
  transition opacity 0.3s ease
  width 100%
  z-index 9998
.modal-wrapper
  display table-cell
  vertical-align middle
.modal-container
  background-color $bg-primary
  border-radius 2px
  box-shadow 0 2px 8px rgba(0, 0, 0, 0.33)
  margin 0 auto
  padding 0 20px
  transition all 0.45s ease
  width 470px
.modal-header
  padding 30px 20px 0
  .inner
    font-size 1.9em
    font-weight bold
  h3
    color #42b983
    margin-top 0
  .close
    padding 0
    &:hover
      background-color transparent
.modal-body
  margin 10px 0
  padding 0 20px
  .input-field
    margin-top 0
    label
      font-size 1.05em
      position relative
      top 10px
    input
      background #fff
      margin 12px -2px 10px
      padding 11px
      width calc(100% - 22px)
  button.btn-large
    margin-top 20px
.modal-footer
  padding 0 20px
  .inner
    padding-bottom 40px
.modal-default-button
  float right
.slide-enter-active
.slide-leave-active
  transition transform .5s
.slide-enter
  transform translateX(100%)
.slide-leave-to
  transform translateX(-100%)

// .modal-enter-active,
// .modal-leave-active
//   opacity 0
//
// .modal-enter-active .modal-container,
// .modal-leave-active .modal-container
//           transform scale(1.4)
//

.new-label
  height 30px
  left 0
  margin 0
  padding 0
  position absolute
  top 0
  width 95px
  > .inner
    background $secondary-color
    color #fff
    font-size 1.15em
    font-weight bold
    padding 2.5px 5px
    text-align center
#App
  > div
    background #fff
@media only screen and (min-width 993px)
  .container
    width 1170px
// @media only screen and (max-width 600px)
// @media only screen and (min-width 601px)
// @media only screen and (max-width 992px)
// @media only screen and (min-width  601px) and (max-width  992px)
