<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('module::message.choose_type') }}</h4>
</div>

<div class="modal-body">
    {% if not types.isEmpty() %}
        <ul class="nav nav-pills nav-stacked">
            {% for type in types %}
                <li class="nav-item">
                    <a href="{{ url_to('admin/catalog/create?type=' ~ type.id) }}" class="nav-link">
                        <strong>{{ type.name }}</strong>
                        <br>
                        <small>{{ type.description }}</small>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ trans('streams::message.no_results') }}
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="{{ url_to('admin/catalog/types/create') }}" class="btn btn-md btn-success">
                    <strong>{{ trans('defr.module.catalog::button.new_type') }}</strong>
                </a>
            </div>
        </div>
    {% endif %}
</div>
