{% extends layout('products') %}

{% block content %}
    <div id="products">

        {{ view("defr.module.catalog::products/partials/products", {"products": products}) }}

        {{ products.render|raw }}

    </div>
{% endblock %}
