<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>{{ config('app.name') }}</title>
        <description>{{ config('app.description') }}</description>
        <link>{{ url('/') }}</link>
        <atom:link href="{{ url_current() }}" rel="self" type="application/rss+xml"/>
        {% for product in products %}
            <item>
                <title>{{ product.title }}</title>
                <description>{{ product.summary }}</description>
                <pubDate>{{ product.publish_at.rfc }}</pubDate>
                <link>{{ url(product.path) }}</link>
                <guid isPermaLink="true">{{ url(product.path) }}</guid>
            </item>
        {% endfor %}
    </channel>
</rss>
