<template>
  <svg
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="17.139902mm"
     height="17.10885mm"
     viewBox="0 0 60.731937 60.621911"
     id="svg4847"
     version="1.1"
     inkscape:version="0.91 r13725"
     sodipodi:docname="bulb.svg">
    <defs
       id="defs4849" />
    <sodipodi:namedview
       id="base"
       pagecolor="#ffffff"
       bordercolor="#666666"
       borderopacity="1.0"
       inkscape:pageopacity="0.0"
       inkscape:pageshadow="2"
       inkscape:zoom="0.9515625"
       inkscape:cx="450.5548"
       inkscape:cy="91.066298"
       inkscape:document-units="px"
       inkscape:current-layer="layer1"
       showgrid="false"
       fit-margin-top="0"
       fit-margin-left="0"
       fit-margin-right="0"
       fit-margin-bottom="0"
       inkscape:window-width="1600"
       inkscape:window-height="803"
       inkscape:window-x="0"
       inkscape:window-y="30"
       inkscape:window-maximized="1" />
    <metadata
       id="metadata4852">
      <rdf:RDF>
        <cc:Work
           rdf:about="">
          <dc:format>image/svg+xml</dc:format>
          <dc:type
             rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
          <dc:title></dc:title>
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <g
       inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(239.49569,-562.80659)">
      <g
         transform="matrix(0.11002162,0,0,0.11002162,-239.49569,562.80659)"
         style="clip-rule:evenodd;fill:#00a5b8;fill-opacity:1;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"
         id="Layer_x0020_1">
        <metadata
           id="CorelCorpID_0Corel-Layer" />
        <path
           inkscape:connector-curvature="0"
           class="fil0"
           d="m 276,136 c -79,0 -144,64 -144,143 0,33 11,64 31,89 4,5 8,10 12,15 13,14 26,30 31,47 0,2 0,7 0,10 0,5 2,9 6,13 3,4 8,6 13,6 l 101,0 c 5,0 10,-2 13,-6 4,-4 6,-8 6,-13 0,-3 0,-7 0,-9 5,-17 20,-34 32,-49 4,-5 8,-9 12,-14 20,-25 31,-56 31,-89 0,-79 -65,-143 -144,-143 z"
           id="path10"
           style="fill:#00a5b8;fill-opacity:1" />
        <path
           inkscape:connector-curvature="0"
           class="fil0"
           d="m 275,110 c 13,0 24,-11 24,-24 l 0,-62 C 299,11 288,0 275,0 262,0 251,11 251,24 l 0,62 c 0,13 11,24 24,24 z"
           id="path12"
           style="fill:#00a5b8;fill-opacity:1" />
        <path
           inkscape:connector-curvature="0"
           class="fil0"
           d="M 477,76 C 468,66 453,66 443,75 l -46,44 c -9,9 -10,24 -1,33 5,5 11,8 18,8 5,0 11,-2 16,-7 l 46,-44 c 9,-9 10,-24 1,-33 z"
           id="path14"
           style="fill:#00a5b8;fill-opacity:1" />
        <path
           inkscape:connector-curvature="0"
           class="fil0"
           d="m 528,231 -59,0 c -13,0 -24,10 -24,23 0,13 11,24 24,24 l 0,0 59,0 c 13,0 24,-11 24,-24 0,-13 -11,-23 -24,-23 z"
           id="path16"
           style="fill:#00a5b8;fill-opacity:1" />
        <path
           inkscape:connector-curvature="0"
           class="fil0"
           d="m 153,152 c 9,-9 9,-24 0,-33 L 106,75 c -9,-9 -24,-9 -33,1 -9,9 -9,24 1,33 l 46,44 c 5,5 10,7 16,7 6,0 13,-3 17,-8 z"
           id="path18"
           style="fill:#00a5b8;fill-opacity:1" />
        <path
           inkscape:connector-curvature="0"
           class="fil0"
           d="m 83,231 -59,0 c -13,0 -24,10 -24,23 0,13 11,24 24,24 l 59,0 0,0 c 13,0 24,-11 24,-24 0,-13 -11,-23 -24,-23 z"
           id="path20"
           style="fill:#00a5b8;fill-opacity:1" />
        <path
           inkscape:connector-curvature="0"
           class="fil0"
           d="m 327,492 -102,0 c -10,0 -18,7 -18,17 l 0,25 c 0,10 8,17 18,17 l 102,0 c 9,0 17,-7 17,-17 l 0,-25 c 0,-10 -8,-17 -17,-17 z"
           id="path22"
           style="fill:#00a5b8;fill-opacity:1" />
      </g>
    </g>
  </svg>
</template>
