<template>
  <svg
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="11.324615mm"
     height="9.133749mm"
     viewBox="0 0 40.126587 32.363677"
     id="svg4239"
     version="1.1"
     inkscape:version="0.91 r13725"
     sodipodi:docname="car_sized.svg">
    <defs
       id="defs4241" />
    <g
       inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(-661.97283,-419.30023)">
      <g
         style="clip-rule:evenodd;fill:#00a5b8;fill-opacity:1;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"
         id="g3362"
         transform="matrix(0.02186735,0,0,0.02186735,661.97283,419.30023)">
        <g
           id="Layer_x0020_1"
           style="fill:#00a5b8;fill-opacity:1">
          <metadata
             id="CorelCorpID_0Corel-Layer" />
          <path
             id="path3355"
             d="m 1113,1242 -393,0 0,-55 393,0 0,55 z M 361,239 c 11,-63 65,-109 129,-109 l 362,0 0,28 -52,0 c -36,0 -65,29 -65,64 0,36 29,65 65,65 l 233,0 c 36,0 65,-29 65,-65 0,-35 -29,-64 -65,-64 l -51,0 0,-28 362,0 c 64,0 118,46 128,109 35,213 41,242 50,311 -9,0 -15,0 -25,0 -27,-126 -139,-221 -273,-221 -134,0 -246,95 -273,221 l -618,0 -23,0 51,-311 z m 1126,542 c 66,0 120,54 120,121 0,66 -54,120 -120,120 -67,0 -121,-54 -121,-120 0,-67 54,-121 121,-121 z M 594,902 c 0,-36 29,-65 65,-65 l 522,0 c 35,0 65,29 65,65 0,35 -30,64 -65,64 l -522,0 c -36,0 -65,-29 -65,-64 z m -247,120 c -67,0 -121,-54 -121,-120 0,-67 54,-121 121,-121 67,0 121,54 121,121 0,66 -54,120 -121,120 z m 739,-472 c 23,-54 76,-92 138,-92 62,0 115,38 137,92 l -275,0 z m 749,51 c 0,-103 -84,-187 -187,-187 l -15,0 -33,-196 C 1579,92 1471,0 1344,0 L 917,0 490,0 C 362,0 254,92 234,218 l -33,196 -14,0 C 84,414 0,498 0,601 c 0,29 24,53 53,53 l 49,0 C 54,708 24,780 24,859 l 0,162 c 0,61 33,115 83,144 l 0,163 c 0,84 68,152 152,152 l 91,0 c 84,0 152,-68 152,-152 l 0,-141 89,0 0,120 c 0,36 29,65 65,65 l 522,0 c 36,0 65,-29 65,-65 l 0,-120 88,0 0,141 c 0,84 69,152 153,152 l 90,0 c 84,0 153,-68 153,-152 l 0,-163 c 49,-29 83,-83 83,-144 l 0,-162 c 0,-79 -30,-151 -79,-205 l 51,0 c 29,0 53,-24 53,-53 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>
