<template>
  <svg
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="16.796164mm"
     height="16.44301mm"
     viewBox="0 0 59.513965 58.262635"
     id="svg5451"
     version="1.1"
     inkscape:version="0.91 r13725"
     sodipodi:docname="growth.svg">
    <defs
       id="defs5453" />
    <sodipodi:namedview
       id="base"
       pagecolor="#ffffff"
       bordercolor="#666666"
       borderopacity="1.0"
       inkscape:pageopacity="0.0"
       inkscape:pageshadow="2"
       inkscape:zoom="0.9515625"
       inkscape:cx="140.9803"
       inkscape:cy="103.5484"
       inkscape:document-units="px"
       inkscape:current-layer="layer1"
       showgrid="false"
       fit-margin-top="0"
       fit-margin-left="0"
       fit-margin-right="0"
       fit-margin-bottom="0"
       inkscape:window-width="1600"
       inkscape:window-height="803"
       inkscape:window-x="0"
       inkscape:window-y="30"
       inkscape:window-maximized="1" />
    <metadata
       id="metadata5456">
      <rdf:RDF>
        <cc:Work
           rdf:about="">
          <dc:format>image/svg+xml</dc:format>
          <dc:type
             rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
          <dc:title></dc:title>
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <g
       inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(-70.078812,-577.64797)">
      <g
         style="clip-rule:evenodd;fill:#00a5b8;fill-opacity:1;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"
         id="g4773"
         transform="matrix(0.24583389,0,0,0.24583389,70.078812,577.64797)">
        <g
           id="Layer_x0020_1-3"
           style="fill:#00a5b8;fill-opacity:1">
          <metadata
             id="CorelCorpID_0Corel-Layer-6" />
          <path
             id="path4760"
             d="m 103,128 c 0,-8 -6,-14 -14,-14 l -14,0 c -7,0 -14,6 -14,14 l 0,96 c 0,7 7,13 14,13 l 14,0 c 8,0 14,-6 14,-13 l 0,-96 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
          <path
             id="path4762"
             d="m 42,161 c 0,-8 -7,-14 -15,-14 l -12,0 c -8,0 -15,6 -15,14 l 0,62 c 0,8 7,14 15,14 l 12,0 c 8,0 15,-6 15,-14 l 0,-62 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
          <path
             id="path4764"
             d="m 164,92 c 0,-8 -7,-14 -14,-14 l -14,0 c -8,0 -14,6 -14,14 l 0,132 c 0,7 6,13 14,13 l 14,0 c 7,0 14,-6 14,-13 l 0,-132 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
          <path
             id="path4766"
             d="M 240,39 213,5 c -2,-3 -5,-5 -9,-5 -3,0 -6,2 -9,5 l -26,34 c -3,3 -3,6 -2,9 1,3 5,4 9,4 l 7,0 0,172 c 0,7 7,13 14,13 l 14,0 c 8,0 14,-6 14,-13 l 0,-172 7,0 c 5,0 8,-1 9,-4 2,-3 1,-6 -1,-9 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
        </g>
      </g>
    </g>
  </svg>
</template>
