<template>
  <svg
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="14.29259mm"
     height="10.600224mm"
     viewBox="0 0 50.643036 37.559847"
     id="svg4429"
     version="1.1"
     inkscape:version="0.91 r13725"
     sodipodi:docname="hat_sized.svg">
    <defs
       id="defs4431" />
    <g
       inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(-164.89195,-357.85157)">
      <g
         style="clip-rule:evenodd;fill:#00a5b8;fill-opacity:1;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"
         id="g3386"
         transform="matrix(0.04827744,0,0,0.04827744,164.89195,357.85157)">
        <g
           id="Layer_x0020_1-3"
           style="fill:#00a5b8;fill-opacity:1">
          <metadata
             id="CorelCorpID_0Corel-Layer-6" />
          <polygon
             id="polygon3375"
             points="524,0 0,253 0,276 524,529 1049,276 1049,253 "
             class="fil0"
             style="fill:#00a5b8;fill-opacity:1" />
          <path
             id="path3377"
             d="m 182,410 0,151 316,152 53,0 315,-152 c 1,0 1,-1 1,-2 L 867,410 524,575 182,410 Z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
          <polygon
             id="polygon3379"
             points="980,778 1021,723 994,641 994,347 953,368 953,641 926,723 966,778 "
             class="fil0"
             style="fill:#00a5b8;fill-opacity:1" />
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>
