<template>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="7.1561298mm"
   height="7.1561298mm"
   viewBox="0 0 25.356366 25.356365"
   id="svg5823"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="vk.svg">
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-233.23315,-542.60685)">
    <g
       style="clip-rule:evenodd;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"
       id="g5131"
       transform="matrix(0.04748383,0,0,0.04748383,233.23315,542.60685)">
      <g
         id="Layer_x0020_1-3">
        <metadata
           id="CorelCorpID_0Corel-Layer-6" />
        <path
           id="path5089"
           d="M 434,9 100,9 C 49,9 9,49 9,100 l 0,334 c 0,51 40,91 91,91 l 334,0 c 51,0 91,-40 91,-91 l 0,-334 C 525,49 485,9 434,9 Z"
           class="fil0"
           inkscape:connector-curvature="0"
           style="fill:#fefefe" />
        <g
           id="_2039318759376">
          <g
             id="g5092">
            <path
               id="path5094"
               d="m 296,294 c -9,-5 -21,-5 -30,-5 l -32,0 0,66 29,0 c 11,0 25,0 34,-6 8,-6 13,-17 13,-28 0,-10 -6,-22 -14,-27 z m -12,-56 c 7,-5 11,-15 11,-23 0,-10 -5,-19 -13,-24 -9,-5 -24,-4 -34,-4 l -14,0 0,58 18,0 c 11,0 23,0 32,-7 z M 440,0 94,0 C 42,0 0,42 0,94 l 0,346 c 0,52 42,94 94,94 l 346,0 c 52,0 94,-42 94,-94 L 534,94 C 534,42 492,0 440,0 Z m -159,403 -109,0 0,-263 120,0 c 34,0 66,22 66,61 0,30 -17,50 -38,57 l 0,0 c 32,7 54,24 54,66 0,38 -26,79 -93,79 z"
               class="fil1"
               inkscape:connector-curvature="0"
               style="fill:#437191" />
          </g>
          <g
             id="g5096" />
          <g
             id="g5098" />
          <g
             id="g5100" />
          <g
             id="g5102" />
          <g
             id="g5104" />
          <g
             id="g5106" />
          <g
             id="g5108" />
          <g
             id="g5110" />
          <g
             id="g5112" />
          <g
             id="g5114" />
          <g
             id="g5116" />
          <g
             id="g5118" />
          <g
             id="g5120" />
          <g
             id="g5122" />
          <g
             id="g5124" />
        </g>
      </g>
    </g>
  </g>
</svg>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>

<style lang="sass" scoped>

</style>
