<template>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 389 388" xml:space="preserve" width="500px" height="499px" xmlns:xlink="http://www.w3.org/1999/xlink" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd">
    <g>
      <path d="M383 323l-55 54c-14,16 -37,11 -55,9 -107,-17 -254,-167 -271,-275 -3,-17 -4,-38 9,-50l55 -55c10,-10 22,-6 30,5l44 83c5,9 2,21 -5,28l-21 20c-5,5 3,20 6,26 17,34 67,84 101,101 5,3 20,10 25,5l24 -24c7,-6 20,-9 28,-4l1 0 79 47c11,7 15,20 5,30z" class="fil0"></path>
    </g>
  </svg>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
.fil0
  fill #fff
</style>
