<template>
  <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="7.2926893mm"
   height="7.2926893mm"
   viewBox="0 0 25.840238 25.840238"
   id="svg5182"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="youtube.svg">
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-362.07988,-519.44209)">
    <g
       style="clip-rule:evenodd;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"
       id="g5060"
       transform="matrix(0.01621094,0,0,0.01621094,362.07988,519.44209)">
      <g
         id="Layer_x0020_1">
        <metadata
           id="CorelCorpID_0Corel-Layer" />
        <path
           id="path5036"
           d="M 1309,8 285,8 C 132,8 8,132 8,285 l 0,1024 c 0,153 124,278 277,278 l 1024,0 c 153,0 278,-125 278,-278 l 0,-1024 C 1587,132 1462,8 1309,8 Z"
           class="fil0"
           inkscape:connector-curvature="0"
           style="fill:#fefefe" />
        <path
           id="path5038"
           d="m 281,1594 1033,0 c 153,0 280,-127 280,-280 l 0,-1033 C 1594,126 1467,0 1314,0 L 281,0 C 126,0 0,126 0,281 l 0,1033 c 0,153 126,280 281,280 z m 639,-574 c 0,-6 -2,-12 -4,-19 -3,-6 -9,-10 -17,-10 -9,-2 -17,2 -23,8 -2,2 -4,7 -4,7 l 0,188 0,4 c 0,0 2,2 2,2 6,7 12,11 21,13 12,2 23,-2 25,-15 0,-4 0,-6 0,-10 0,-57 0,-111 0,-168 l 0,0 z m 0,0 c 0,-6 -2,-12 -4,-19 -3,-6 -9,-10 -17,-10 -9,-2 -17,2 -23,8 -2,2 -4,7 -4,7 l 0,188 0,4 c 0,0 2,2 2,2 6,7 12,11 21,13 12,2 23,-2 25,-15 0,-4 0,-6 0,-10 0,-57 0,-111 0,-168 l 0,0 z m 211,-285 c -222,-4 -446,-4 -670,0 -78,2 -138,65 -138,143 l 0,350 c 0,77 60,140 138,142 224,4 448,4 670,0 78,-2 141,-65 141,-142 l 0,-350 c 0,-78 -63,-141 -141,-143 z m -603,524 -65,0 0,-364 -67,0 0,-61 199,0 0,61 -67,0 0,364 0,0 z m 230,-151 0,151 -58,0 0,-35 c -2,2 -2,4 -4,4 -11,14 -26,27 -44,31 -9,4 -17,4 -26,4 -12,-2 -21,-10 -27,-21 -4,-10 -4,-23 -4,-33 -2,-42 -2,-262 -2,-264 l 59,0 c 0,2 0,159 0,237 0,4 0,8 0,12 2,11 10,15 21,13 10,-4 18,-13 27,-23 0,0 0,-2 0,-4 l 0,-235 58,0 c 0,0 0,111 0,163 z m 216,120 c -6,23 -23,35 -48,35 -19,0 -36,-8 -48,-23 -2,-2 -6,-6 -6,-6 l 0,25 -57,0 0,-425 57,0 c 0,44 0,140 0,140 0,0 4,-6 6,-10 8,-11 21,-17 33,-21 21,-6 46,2 59,27 8,15 8,31 8,48 3,59 3,118 0,178 0,11 0,21 -4,32 z m 212,-11 c -11,27 -32,44 -61,48 -19,5 -38,3 -54,-4 -23,-12 -38,-31 -42,-56 -4,-11 -4,-23 -4,-36 -3,-46 -3,-92 -3,-138 0,-25 7,-48 23,-67 19,-21 44,-27 72,-27 8,2 16,2 25,6 27,8 42,27 48,54 2,11 2,21 2,32 0,25 0,79 0,79 l -109,0 0,80 c 0,12 11,25 25,25 15,0 25,-13 25,-25 l 0,-40 59,0 c 0,0 0,46 -6,69 l 0,0 z m -53,-201 c 0,-15 -10,-25 -25,-25 -14,0 -25,10 -25,25 l 0,44 50,0 0,-44 0,0 z m -217,-15 c -3,-6 -9,-10 -17,-10 -9,-2 -17,2 -23,8 -2,2 -4,7 -4,7 l 0,188 0,4 c 0,0 2,2 2,2 6,7 12,11 21,13 12,2 23,-2 25,-15 0,-4 0,-6 0,-10 0,-57 0,-111 0,-168 0,-6 -2,-12 -4,-19 l 0,0 z m 146,-668 0,314 -58,0 0,-33 c -7,6 -11,12 -17,17 -11,10 -23,16 -38,21 -23,4 -40,-5 -48,-26 -2,-8 -4,-16 -4,-25 l 0,-268 58,0 0,239 c 0,4 0,6 2,10 0,11 9,15 17,11 13,-4 21,-11 30,-21 0,-2 0,-4 0,-6 l 0,-233 58,0 0,0 z M 578,388 C 566,333 541,220 541,220 l -68,0 c 0,0 51,170 74,245 2,4 2,6 2,8 l 0,174 61,0 0,-174 c 0,-2 0,-4 2,-8 21,-75 73,-245 73,-245 l -67,0 c 0,0 -27,113 -40,168 l 0,0 0,0 z m 187,-63 0,0 c -46,0 -84,37 -84,84 l 0,163 c 0,46 38,84 84,84 l 0,0 c 46,0 84,-38 84,-84 l 0,-163 c 0,-47 -38,-84 -84,-84 z m 25,249 c 0,15 -13,25 -25,25 -13,0 -23,-10 -23,-25 l 0,-170 c 0,-12 10,-23 23,-23 12,0 25,11 25,23 l 0,170 z"
           class="fil1"
           inkscape:connector-curvature="0"
           style="fill:#dc472e" />
        <g
           id="_2039223975872" />
        <g
           id="_2039223974848" />
        <g
           id="_2039223968640" />
        <g
           id="_2039223969280" />
        <g
           id="_2039223968576" />
        <g
           id="_2039223969504" />
        <g
           id="_2039223970240" />
        <g
           id="_2039223970144" />
        <g
           id="_2039223970720" />
        <g
           id="_2039223971136" />
        <g
           id="_2039223972352" />
        <g
           id="_2039223970880" />
        <g
           id="_2039223971808" />
        <g
           id="_2039223972160" />
        <g
           id="_2039223974336" />
      </g>
    </g>
  </g>
</svg>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
.fil0
  fill #FEFEFE
.fil1
  fill #DC472E
</style>
