<template>
  <svg
    xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
    width="500px" height="392px" version="1.1"
    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
    viewBox="0 0 98 77"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g>
      <path d="M9 24c2,1 5,3 12,8 6,4 11,7 14,10 0,0 1,0 2,1 2,1 2,2 3,2 1,1 2,1 3,2 1,1 2,1 3,2 1,0 2,0 3,0l0 0c1,0 2,0 3,0 1,-1 2,-1 3,-2 1,-1 2,-1 3,-2 1,0 2,-1 3,-2 1,-1 2,-1 2,-1 3,-3 12,-9 26,-18 2,-2 5,-4 6,-7 2,-3 3,-5 3,-8 0,-3 -1,-5 -2,-6 -2,-2 -4,-3 -7,-3l-80 0c-3,0 -5,1 -7,3 -1,2 -2,4 -2,7 0,2 1,5 3,7 2,3 4,5 6,7z" class="fil0"></path>
      <path d="M93 30c-12,8 -21,14 -28,19 -2,1 -3,2 -5,3 -1,1 -3,2 -5,3 -2,1 -4,1 -6,1l0 0c-2,0 -4,0 -6,-1 -2,-1 -4,-2 -5,-3 -1,-1 -3,-2 -5,-3 -5,-4 -14,-10 -27,-19 -3,-2 -4,-3 -6,-5l0 43c0,3 1,5 3,7 1,1 3,2 6,2l80 0c3,0 5,-1 7,-2 1,-2 2,-4 2,-7l0 -43c-1,2 -3,3 -5,5z" class="fil0"></path>
    </g>
  </svg>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
.fil0
  fill #fff
</style>
