<template>
  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="190px" height="40px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1970 417" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Layer">
      <polygon points="443,409 568,409 649,106 785,106 704,409 828,409 936,6 551,6 " class="fil0"></polygon>
      <polygon points="1195,409 1315,409 1350,282 1409,409 1573,409 1467,202 1661,6 1516,6 1393,127 1423,6 1299,6 " class="fil0"></polygon>
      <polygon points="849,409 1175,409 1199,318 997,318 1018,239 1209,239 1231,156 1040,156 1057,94 1258,94 1282,6 952,6 " class="fil0"></polygon>
      <path d="M296 115l7 140 -87 0 80 -140zm-296 294l127 0 38 -67 140 0 3 67 130 0 -43 -403 -135 0 -260 403z" class="fil0"></path>
      <path d="M1933 277l-101 -33c-27,96 -182,116 -149,-28 36,-153 165,-140 170,-67 21,0 91,-18 117,-23 -17,-102 -74,-126 -166,-126 -125,6 -212,84 -243,206 -30,113 1,203 129,210 110,6 194,-41 243,-139z" class="fil0"></path>
    </g>
  </svg>
</template>

<script>
export default {}
</script>

<style lang="stylus" scoped>
.fil0
  fill black
</style>
