<template>
  <svg
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="18.170977mm"
     height="14.2121mm"
     viewBox="0 0 64.38535 50.357835"
     id="svg4768"
     version="1.1"
     inkscape:version="0.91 r13725"
     sodipodi:docname="money.svg">
    <defs
       id="defs4770" />
    <g
       inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(-337.72522,-466.00102)">
      <g
         style="clip-rule:evenodd;fill:#00a5b8;fill-opacity:1;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"
         id="g4747"
         transform="matrix(0.06002616,0,0,0.06002616,337.72522,465.99691)">
        <g
           id="Layer_x0020_1"
           style="fill:#00a5b8;fill-opacity:1">
          <metadata
             id="CorelCorpID_0Corel-Layer" />
          <path
             id="path4736"
             d="m 737,324 c -1,-10 -6,-20 -14,-26 L 693,276 553,171 447,93 424,76 c -1,-1 -2,-2 -4,-2 -1,0 -1,1 -2,1 l -159,50 c -2,1 -4,3 -5,6 0,2 1,5 3,7 l 11,8 108,78 142,104 32,23 c 8,6 13,16 14,26 l 17,383 1,2 c 0,2 1,4 2,5 2,1 3,2 5,2 0,0 1,0 1,-1 l 158,-42 c 3,-1 5,-4 5,-7 l 0,-11 -16,-384 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
          <path
             id="path4738"
             d="M 511,389 454,347 317,388 172,285 312,243 226,180 c -7,-5 -11,-10 -15,-17 L 38,215 c -20,5 -34,22 -37,42 -4,20 5,39 21,51 -11,8 -19,20 -21,34 -4,20 5,39 21,51 -11,8 -19,20 -21,34 -4,20 5,39 21,51 -11,8 -19,20 -21,34 -4,19 5,39 21,51 -11,8 -19,20 -21,34 -1,2 -1,5 -1,8 l 0,1 c 0,17 8,33 22,43 l 255,180 c 9,7 20,10 31,10 5,0 10,-1 15,-2 l 207,-62 c 0,-4 -1,-7 -1,-10 L 511,389 Z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
          <path
             id="path4740"
             d="m 1072,412 c 3,-20 -5,-39 -21,-51 11,-8 19,-20 21,-34 3,-20 -5,-39 -21,-51 11,-8 19,-20 21,-34 3,-20 -5,-40 -22,-52 L 795,10 C 782,0 765,-2 750,2 l -240,72 106,79 139,-42 145,103 -144,43 c 20,16 33,39 34,65 l 15,371 230,-69 c 19,-6 34,-22 37,-42 3,-20 -5,-39 -21,-51 11,-8 19,-20 21,-34 3,-20 -5,-39 -21,-51 11,-8 19,-20 21,-34 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
        </g>
      </g>
    </g>
  </svg>
</template>
