<template>
  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" width="20px" height="20px" viewBox="0 0 329 329" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g>
      <path d="M39 39c-26,25 -39,59 -39,93 0,34 13,68 39,93 43,44 111,51 162,20l75 75c12,12 32,12 44,0 12,-12 12,-32 0,-44l-76 -75c32,-51 25,-118 -19,-162 -51,-52 -135,-52 -186,0zm148 38c30,30 30,80 0,110 -30,30 -80,30 -110,0 -30,-30 -30,-80 0,-110 30,-30 80,-30 110,0z" class="search-icon"></path>
    </g>
  </svg>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>
