<template>
  <svg
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="12.405682mm"
     height="11.613358mm"
     viewBox="0 0 43.95714 41.149692"
     id="svg4327"
     version="1.1"
     inkscape:version="0.91 r13725"
     sodipodi:docname="talk_sized.svg">
    <defs
       id="defs4329" />
    <g
       inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(253.17726,-382.32923)">
      <g
         style="clip-rule:evenodd;fill:#00a5b8;fill-opacity:1;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"
         id="g3416"
         transform="matrix(0.02395209,0,0,0.02395209,-253.17473,382.32923)">
        <g
           id="Layer_x0020_1-7"
           style="fill:#00a5b8;fill-opacity:1">
          <metadata
             id="CorelCorpID_0Corel-Layer-5" />
          <path
             id="path3401"
             d="m 1274,1453 -74,-188 71,1 c -17,9 -28,27 -28,47 0,30 24,55 54,55 l 9,0 -32,85 z m 457,-129 103,-522 c 6,-29 -13,-58 -43,-64 -29,-5 -58,14 -64,43 l -94,478 -138,0 c 20,-5 38,-15 53,-29 21,-21 32,-49 32,-78 l 1,-374 c 1,-61 -49,-111 -111,-110 l -101,1 c -61,0 -110,50 -109,111 l 1,85 97,-108 -100,179 -226,0 c -36,0 -66,29 -66,65 0,37 30,66 66,66 l 265,0 c 24,0 46,-13 57,-34 l 103,-183 c -15,71 -37,139 -62,203 -10,28 -35,50 -69,55 l -242,-1 c -26,0 -51,13 -66,35 -15,21 -18,49 -8,73 l 179,453 c 12,31 42,50 74,50 9,0 19,-2 28,-6 41,-16 61,-62 45,-102 l -23,-58 71,-184 207,0 126,326 c 7,19 28,28 47,21 18,-7 28,-28 20,-47 l -115,-300 9,0 c 26,0 48,-19 53,-44 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
          <path
             id="path3403"
             d="m 1334,328 c 80,0 145,65 145,145 0,80 -65,145 -145,145 -80,0 -145,-65 -145,-145 0,-80 65,-145 145,-145 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
          <path
             id="path3405"
             d="m 538,1368 c 30,0 54,-25 54,-55 0,-20 -11,-38 -28,-47 l 71,-1 -74,188 -32,-85 9,0 z m 265,-432 -226,0 -100,-179 97,108 1,-85 C 576,719 527,669 466,669 l -101,-1 c -62,-1 -112,49 -111,110 l 1,374 c 0,29 11,57 32,78 15,14 33,24 53,29 l -138,0 -94,-478 C 102,752 73,733 44,738 14,744 -5,773 1,802 l 103,522 c 5,25 27,44 53,44 l 9,0 -116,300 c -7,19 3,40 21,47 19,7 40,-2 47,-21 l 126,-326 207,0 71,184 -23,58 c -16,40 4,86 45,102 40,16 86,-4 102,-44 l 179,-453 c 10,-24 7,-52 -8,-73 -15,-22 -39,-35 -65,-35 0,0 0,0 -1,0 -258,1 -241,1 -244,1 -32,-5 -57,-27 -67,-55 l -62,-203 103,183 c 11,21 33,34 57,34 l 265,0 c 36,0 66,-29 66,-66 0,-36 -30,-65 -66,-65 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
          <path
             id="path3407"
             d="m 501,328 c 80,0 145,65 145,145 0,80 -65,145 -145,145 -80,0 -145,-65 -145,-145 0,-80 65,-145 145,-145 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
          <path
             id="path3409"
             d="M 1142,187 C 1142,84 1026,0 882,0 739,0 622,84 622,187 c 0,56 34,106 88,140 l -36,72 c -4,7 -3,16 3,22 6,5 15,7 22,2 l 103,-58 c 25,6 52,9 80,9 144,0 260,-83 260,-187 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>
