<template>
  <svg
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="15.09621mm"
     height="14.478841mm"
     viewBox="0 0 53.490506 51.302979"
     id="svg6049"
     version="1.1"
     inkscape:version="0.91 r13725"
     sodipodi:docname="thumbsup.svg">
    <defs
       id="defs6051" />
    <g
       inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(-368.39432,-574.82238)">
      <g
         style="clip-rule:evenodd;fill:#00a5b8;fill-opacity:1;fill-rule:evenodd;image-rendering:optimizeQuality;shape-rendering:geometricPrecision;text-rendering:geometricPrecision"
         id="g4798"
         transform="matrix(0.02915014,0,0,0.02915014,368.39432,574.82111)">
        <g
           id="Layer_x0020_1-7"
           style="fill:#00a5b8;fill-opacity:1">
          <metadata
             id="CorelCorpID_0Corel-Layer-5" />
          <path
             id="path4789"
             d="M 300,562 60,562 C 27,562 0,589 0,622 l 0,1078 c 0,33 27,60 60,60 l 240,0 c 33,0 59,-27 59,-60 l 0,-1078 c 0,-33 -27,-60 -59,-60 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
          <path
             id="path4791"
             d="m 1224,562 63,-172 C 1331,271 1302,89 1182,25 1142,4 1087,-7 1043,5 c -25,6 -48,23 -61,45 -15,26 -14,56 -19,85 -14,73 -48,142 -102,194 -93,91 -382,353 -382,353 l 0,958 999,0 c 134,0 223,-150 156,-268 80,-50 107,-157 60,-239 79,-51 107,-158 60,-240 56,-35 81,-92 81,-149 l 0,0 c 0,-83 -55,-166 -150,-182 -9,-2 -461,0 -461,0 z"
             class="fil0"
             inkscape:connector-curvature="0"
             style="fill:#00a5b8;fill-opacity:1" />
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>
