<template>
  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="22px" height="20px" version="1.1" viewBox="0 0 331 291" xmlns:xlink="http://www.w3.org/1999/xlink" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd">
    <g id="Layer_x0020_1"></g>
    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
    <path d="M240 265c0,6 -7,11 -16,11l-208 0c-9,0 -16,-5 -16,-11l0 -148c0,-6 7,-11 16,-11l208 0c9,0 16,5 16,11l0 148z" class="camera-icon"></path>
    <path d="M100 60c0,22 -18,40 -40,40 -22,0 -40,-18 -40,-40 0,-22 18,-40 40,-40 22,0 40,18 40,40z" class="camera-icon"></path>
    <path d="M220 50c0,28 -22,50 -50,50 -27,0 -50,-22 -50,-50 0,-28 23,-50 50,-50 28,0 50,22 50,50z" class="camera-icon"></path>
    <path d="M331 281c0,0 -2,10 -11,10 -9,0 -70,-56 -70,-63l0 -74c0,-7 59,-63 70,-63 11,0 11,10 11,10l0 180z" class="camera-icon"></path>
  </svg>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style lang="stylus" scoped>
.camera-icon
  fill #00A5B8
</style>
