<div class="modal-body">

  <div class="dropzone"
     data-key="{{ key }}"
     data-folder="{{ folder.id }}"
     data-icon="{{ icon('upload')|escape }}"
     data-max-size="{{ max_upload_size() }}"
     data-width="{{ config.width }}"
     data-height="{{ config.height }}"
     data-message="{{ trans('defr.field_type.image::message.upload') }}"
     data-loading="{{ trans('defr.field_type.image::message.loading') }}"
     data-uploading="{{ trans('defr.field_type.image::message.uploading') }}"
     data-overwrite="{{ trans('defr.field_type.image::message.overwrite') }}"
     data-max-parallel="{{ setting_value('anomaly.module.files::max_parallel_uploads', 3) }}"
     data-allowed="{{ folder.allowed_types.value ? '.' ~ folder.allowed_types.value|join(',.') }}"
  ></div>

  <div class="uploads"></div>

</div>
