{{ asset_add('styles.css', 'defr.field_type.image::less/upload.less') }}

{{ asset_add('scripts.js', 'defr.field_type.image::js/dropzone.min.js') }}
{{ asset_add('scripts.js', 'defr.field_type.image::js/upload.js') }}

{% for path in asset_paths("styles.css") %}
  {{ html_style(path) }}
{% endfor %}

{% for path in asset_paths("scripts.js") %}
  {{ html_script(path) }}
{% endfor %}

<div id="upload">

  {% include "defr.field_type.image::upload/partials/header" %}
  {% include "defr.field_type.image::upload/partials/body" %}
  {% include "defr.field_type.image::upload/partials/template" %}

  <div class="uploaded">
    {{ table.content|raw }}
  </div>

</div>
