{% set partneram = variable_group('partneram') %}

<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="/css/app.css" rel="stylesheet" type="text/css">
  {{ constants() }}
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <div id="App">
    <app
      :types="{{ types|json_encode }}"
      :menus="{{ menus|json_encode }}"
      :config="{{ config|json_encode }}"
      :events="{{ events|json_encode }}"
      :brands="{{ brands|json_encode }}"
      :banners="{{ banners|json_encode }}"
      :reviews="{{ reviews|json_encode }}"
      :messages="{{ messages|json_encode }}"
      :categories="{{ categories|json_encode }}"
      :partneram="{{ partneram.get()
        .put('row_3_cols', partneram.row3Cols().with('ikonka').get())
        .put('row_4_cols', partneram.row4Cols().get())|json_encode }}"
      :fetching="fetching"
    >
    </app>
  </div>

  <script type="text/javascript" src="//vk.com/js/api/openapi.js?137"></script>
  <script src="/js/main.js"></script>
  <script type="text/javascript">
    VK.Widgets.Group('vk_groups', { mode: 3, width: '375' }, 109184885);
  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHowH_aFC9j5OpWtfrRSnRBEl1B5i55Fo&callback=initMap"
    async defer
  ></script>
</body>

</html>
