{{ asset_add('scripts.js', 'defr.field_type.image::js/vue.min.js') }}
{{ asset_add('scripts.js', 'defr.field_type.image::js/Jcrop.min.js') }}
{{ asset_add('scripts.js', 'defr.field_type.image::js/vue-crop.js') }}
{{ asset_add('scripts.js', 'defr.field_type.image::js/input.js') }}
{{ asset_add('scripts.js', 'defr.field_type.image::js/crop.js') }}

<a
  class="btn btn-info btn-xs"
  data-toggle="modal"
  data-target="#{{ field_type.field_name }}-modal"
  href="{{ url('streams/image-field_type/index/' ~ field_type.config_key) }}"
  v-on:click.prevent="showModal('#{{ field_type.field_name }}')"
>
  {{ trans('defr.field_type.image::button.select_image') }}
</a>

<a
  class="btn btn-success btn-xs"
  data-toggle="modal"
  data-target="#{{ field_type.field_name }}-modal"
  {% if field_type.config.folders|length == 1 %}
    href="{{ url('streams/image-field_type/upload/' ~ field_type.config.folders|first ~ '/' ~ field_type.config_key) }}"
  {% else %}
    href="{{ url('streams/image-field_type/choose/' ~ field_type.config_key) }}"
  {% endif %}
>
  {{ trans('defr.field_type.image::button.upload') }}
</a>

<input
  type="hidden"
  name="{{ field_type.input_name }}"
  value="{{ field_type.value.id ?: field_type.value }}"
  data-width="{{ field_type.config.width }}"
  data-height="{{ field_type.config.height }}"
  {{ html_attributes(field_type.attributes) }}
  {{ field_type.disabled ? 'disabled' }}
  {{ field_type.readonly ? 'readonly' }}
>

<div class="selected">
  {{ field_type.value_table|raw }}
</div>

<div class="modal remote" id="{{ field_type.field_name }}-modal">
  <div class="modal-dialog modal-wide">
    <div class="modal-content"></div>
  </div>
</div>
