<template>
  <div>
    <header-area
      :menus="menus"
      :config="config"
      :products="products"
    />
    <preloader :show="fetching" />
    <transition name="fade" mode="out-in">
      <keep-alive>
        <router-view class="router-view"
          :posts="posts"
          :types="types"
          :config="config"
          :brands="brands"
          :events="events"
          :banners="banners"
          :reviews="reviews"
          :products="products"
          :partneram="partneram"
          :categories="categories"
        />
      </keep-alive>
    </transition>
    <footer-area
      :menus="menus"
      :posts="posts"
    />
    <fixed-feedback />
    <form-builder />
  </div>
</template>

<script>
import Preloader from './partials/Preloader.vue'
import HeaderArea from './partials/HeaderArea.vue'
import FooterArea from './partials/FooterArea.vue'
import FormBuilder from './partials/FormBuilder.vue'
import FixedFeedback from './partials/FixedFeedback.vue'

import { Array } from './vendor'

window.initMap = function () {
  let element = document.getElementById('g-map')
  if (element) {
    let
      coords = { lat: 59.92792, lng: 30.358362 },
      map = new google.maps.Map(element, {
        center: coords,
        scrollwheel: false,
        zoom: 14
      })

    new google.maps.Marker({
      position: coords,
      map: map,
      title: 'Apex',
      icon: ''
    })
  }
}

export default {
  name: 'App',
  components: { FormBuilder, HeaderArea, FooterArea, Preloader, FixedFeedback },

  metaInfo () {
    return {
      title: this.config && this.config.name || '',
      meta: [{
        vmid: 'description',
        name: 'description',
        content: this.config && this.config.description.stripTags()
      }, {
        vmid: 'author',
        name: 'author',
        content: 'Denis Efremov'
      }]
    }
  },

  data () {
    return {
      posts: new this.$collection(...[]),
      products: new this.$collection(...[]),
    }
  },

  props: {
    menus: { type: Array, default () { return [] } },
    types: { type: Array, default () { return [] } },
    brands: { type: Array, default () { return [] } },
    events: { type: Array, default () { return [] } },
    config: { type: Object, default () { return {} } },
    reviews: { type: Array, default () { return [] } },
    banners: { type: Array, default () { return [] } },
    partneram: { type: Array, default () { return [] } },
    categories: { type: Array, default () { return [] } },
    fetching: { type: Boolean, default () { return false } },
    messages: {
      type: Object,
      default () {
        return { error: [], warning: [], success: [], info: [] }
      }
    }
  },

  created () {
    this.bindEventListeners()
    this.fetchAll()
  },

  methods: {

    /**
     * Bind event listeners
     */
    bindEventListeners () {
      let vm = this
      this.$bus.$on('main::fetchError', (reason) => {
        vm.addMessage('error', reason)
      })
    },

    /**
     * Fetches posts.
     *
     * @return     {Promise}
     */
    fetchPosts () {
      return this.$http.get('posts')
    },

    /**
     * Fetches products.
     *
     * @return     {Promise}
     */
    fetchProducts () {
      return this.$http.get('products')
    },

    /**
     * Fetches all.
     */
    fetchAll () {
      let vm = this
      this.$bus.$emit('main::setFetching')

      this.$http.all([this.fetchPosts(), this.fetchProducts()])
        .then((responses) => {
          responses.forEach((response) => {
            let name = response.config.url.split('/').reverse()[0]
            vm[name] = new vm.$collection(...response.data)
          })
          vm.$bus.$emit('main::endFetching')
        })
        .catch((reason) => {
          vm.$bus.$emit('main::fetchError', reason)
          vm.$bus.$emit('main::endFetching')
        })
    },

    /**
     * Adds a message.
     *
     * @param      {String}  type    The type
     * @param      {Mixed}   data    The data
     */
    addMessage (type, data) {
      // this.$set(this, `messages.${type}`, [data])
    }
  }
}
</script>

<style lang="stylus">
.fade-enter-active
.fade-leave-active
  transition opacity .3s ease
.fade-enter
.fade-leave-active
  opacity 0
.preloader
  position absolute
  left 0
  right 0
  height 100%
  background rgba(0, 0, 0, 0.5)
  top 289px
  padding-top 200px
  padding-bottom 2000px
  z-index 100
</style>
