<template>
  <div class="about-view about-main">
    <section class="first-section">
      <div class="container">
        <div class="row title-block">
          <div class="col s12">
            <div class="inner">
              <h1>Компания "Апекс" - эксклюзивный поставщик автохимии</h1>
            </div>
          </div>
        </div>
        <div class="row quote-block">
          <div class="col s12">
            <div class="inner">
              <blockquote>Мы привозим в Россию и СНГ заводские европейские материалы и оборудование для авторемонта. Мы закупаем их на производстве в Греции, Японии и Франции, расплачиваемся в евро (даже если евро по 100), растаможиваем и доставляем во все федеральные округа и 60 регионов страны.</blockquote>
            </div>
          </div>
        </div>
        <div class="row text-block">
          <div class="col s12">
            <div class="inner">
              <p>Делать высококачественные ЛКМ, расходники и оборудование близкими и доступными — не простая задача. Но на нашей стороне 15-летний опыт работы, надёжные партнёрские связи и лучшие автомаляры в России. Именно поэтому, несмотря на кризис, за 2016 год мы выросли в два раза, и теперь в наших четырёх офисах работают 70 человек. Всё хорошо, а будет еще лучше, и вот почему:</p>
            </div>
          </div>
        </div>
        <div class="row tooltip-block">
          <div class="col s12">
            <div class="inner">
              <p>Апекс — точка траектории, ближайшая к внутреннему краю дороги. Апекс — точка на небесной сфере, в которую направлен вектор скорости движения наблюдателя. Апекс — верхушка побега, основная часть которого представляет собой конус нарастания, в котором расположена апикальная меристема.</p>
              <div class="wiki-link">
                <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BF%D0%B5%D0%BA%D1%81">Википедия</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="second-section">
      <div class="container">
        <div class="row title-block">
          <div class="col s12">
            <div class="inner center">
              <h2>
                Мы помогаем работать быстрее, качественнее, и зарабатывать больше.
              </h2>
            </div>
          </div>
        </div>
        <div class="row top-block">
          <div class="col s4 info-card"
            v-for="feature in features.slice(0, 3)"
          >
            <div class="inner">
              <div class="top">
                <div class="accent" v-html="feature.accent"></div>
                <div class="comment" v-html="feature.comment"></div>
              </div>
              <div class="text" v-html="feature.text"></div>
            </div>
          </div>
        </div>
        <div class="row bottom-block">
          <div class="col s3 info-card"
            v-for="feature in features.slice(3, 7)"
          >
            <div class="inner">
              <div class="top">
                <div class="accent" v-html="feature.accent"></div>
                <div class="comment" v-html="feature.comment"></div>
              </div>
              <div class="text" v-html="feature.text"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="third-section">
      <div class="container">
        <div class="row title-block">
          <div class="col s12">
            <h2 class="h1">Как было дело</h2>
          </div>
        </div>
        <div class="row events-block">
          <div class="col s12">
            <div class="year-item" v-for="year in years">
              <div class="year">
                <div class="year-point"></div>
                <div class="year-num" v-text="year"></div>
              </div>
              <div class="year-events">
                <div class="year-event"
                  v-for="(event, idx) in getEventsByYear(year)"
                >
                  <div class="inner">
                    <div class="event-point" v-show="idx > 0"></div>
                    <div class="event-text" v-html="event.title"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fourth-section">
      <div class="container">
        <div class="row title-block">
          <div class="col s12">
            <h2 class="h1">Автомаляр — это звучит гордо!</h2>
          </div>
        </div>
        <div class="row main-block">
          <div class="col s4">
            <div class="inner">
              <img :src="bg.painter" alt="Автомаляр">
            </div>
          </div>
          <div class="col s8">
            <div class="inner">
              <p>Не так давно в группе мы проводили опрос: откуда вы пришли в профессию? Типичные ответы — ”Любил ходить к папке в гараж”, “Друзья позвали помочь с ремонтом”, “Надо было срочно продать машину, втянулся”. Профессионального образования в России в этой сфере не существует, и все талантливые маляры у нас — самоучки. Поскольку рынок заполнен брендами-однодневками, нам важно, чтобы специалисты могли отличать качественный материал от некачественного.</p>
              <p>Поэтому с самого начала работы мы вкладываем силы и знания в Учебно-методический центр. Проводим вебинары, баттлы с честным сравнением материалов, наши технические специалисты приезжают с семинарами во все возможные точки страны (часто не по одному разу в год). На четырёхдневных интенсивных курсах мы выдаём сертификаты государственного образца. И в 2016 году мы прорвались в систему образования: ввели специализацию “автомаляр” в список официальных профессий и готовим в 2017 набор первых студентов в колледже “Автосервис” в Петербурге.</p>
            </div>
          </div>
        </div>
        <div class="row bottom-block">
          <div class="col s12">
            <div class="inner">
              <h3>Мы работаем, чтобы в стране вырос уровень малярного мастерства!</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="featured-news">
      <featured-news :posts="posts.featured(3)" />
    </section>
    <section class="brands">
      <brands :brands="brands.slice(0, 3)" />
    </section>
  </div>
</template>

<style lang="stylus">
section
  &.first-section
    background-color #fff
    .quote-block
      blockquote
        margin 12px 0 0
        padding-left 2.6rem
        border-left 5px solid #00a5b8
        color #00a5b8
        font-size 1.65rem
        line-height 1.65
    .text-block
      line-height 2
      margin-top -5px
      letter-spacing 0.036rem
    .tooltip-block
      margin-bottom 70px
      .inner
        position relative
        background-color #ebebeb
        padding 20px 44px 40px
        line-height 2
        letter-spacing 0.036rem
        &:before
          content ''
          position absolute
          top 100%
          left 7.2%
          border-style solid
          border-width 32px 40px 0 0
          border-color #ebebeb transparent transparent transparent
        .wiki-link
          margin-top -6px
  &.second-section
    background #59cdd6
    padding-bottom 10px
    .title-block
      color #fff
      padding-top 45px
      margin-bottom 30px
    .top-block
      padding-top 40px
    .info-card
      margin-top 10px
      margin-bottom 30px
      .inner
        color #fff
        border-top 5px solid
        font-weight 800
        .top
          > div
            display inline-block
          .accent
            font-size 4.8rem
            padding-top 10px
            line-height 1.5
          .comment
            font-size 2rem
        .text
          width 100%
          font-size 1.65rem
          line-height 1.2
  &.third-section
    padding-top 40px
    .h2
      letter-spacing -0.04rem
    .events-block
      .year-item
        .year
          > div
            display inline-block
          .year-point
            background-color #00a5b8
            width 20px
            height 20px
            border-radius 50%
            position relative
            &:before
              content ''
              width 8px
              height 72px
              background-color #ebebeb
              position absolute
              top 100%
              left calc(50% - 4px)
          .year-num
            color #00a5b8
            font-size 1.65rem
            font-weight bold
            line-height 1.85
            margin-left 28px
        &:last-child
          .year
            .year-point
              &:before
                background linear-gradient(to bottom, #ebebeb 0%,#ffffff 100%)
        .year-events
          padding-bottom 22px
          .year-event
            .inner
              > div
                display inline-block
              .event-point
                width 10px
                height 10px
                background-color #00a5b8
                border-radius 50%
                margin 0 5px
                position relative
                &:before
                  content ''
                  width 8px
                  height 72px
                  background-color #ebebeb
                  position absolute
                  top 100%
                  left calc(50% - 4px)
              .event-text
                margin-left 55px
          .year-event:not(:first-child)
            .inner
              .event-text
                margin-top 30px
                margin-left 32px
  &.fourth-section
    .main-block
      line-height 1.78
      margin-top -5px
      img
        max-height inherit
        margin-top 16px
    .bottom-block
      h3
        font-size 1.69rem
  &.brands
    background #ebebeb
    .block-title
      color #000
</style>

<script>
import Brands from '../partials/Brands.vue'
import FeaturedNews from '../partials/FeaturedNews.vue'

export default {
  components: { Brands, FeaturedNews },

  data () {
    return {
      bg: {
        brands: 'url(\'/app/apex/files-module/local/backgrounds/main_brands.jpg\')',
        painter: '/app/apex/files-module/local/backgrounds/painter.png',
      },
      features: [{
        accent: 200,
        comment: 'компаний',
        text: 'розничных и оптовых по всей России',
      }, {
        accent: 60,
        comment: 'регионов',
        text: 'России охвачены партнёрскими сетями',
      }, {
        accent: 15,
        comment: 'лет',
        text: 'безукоризненной работы на рынке автохимии',
      }, {
        accent: 70,
        comment: 'человек',
        text: 'столько довольных сотрудников у нас работает',
      }, {
        accent: 50,
        comment: 'студентов',
        text: 'в первом наборе по гос. специальности “Автомаляр”',
      }, {
        accent: 4,
        comment: 'часа',
        text: 'средняя скорость обработки заказа',
      }, {
        accent: 120,
        comment: 'запросов',
        text: 'в день обрабатывает наша служба технической поддержки<!-- , похоже, самая крупная в стране -->',
      }],
    }
  },

  props: {
    posts: Array,
    brands: Array,
    events: Array,
  },

  computed: {
    years () {
      let years = []
      this.events && this.events.forEach((event) => {
        let date = new Date(event.start),
          year = date.getFullYear() + 1
        if (!years.includes(year)) {
          years.push(year)
        }
      })
      return years.sort((a, b) => {
        return a > b
      })
    },
  },

  methods: {
    getEventsByYear (year) {
      return this.events.filter((event) => {
        let date = new Date(event.start)
        return date.getFullYear() + 1 === +year
      })
    },
  },
}
</script>
