<template>
  <div class="blog-view blog-post">
    <div class="container" v-if="post">
      <div class="row date-block">
        <div class="col s12">
          <div class="inner" v-html="date"></div>
        </div>
      </div>
      <div class="row title-block">
        <div class="col s12">
          <div class="inner">
            <h1 v-html="post.title"></h1>
          </div>
        </div>
      </div>
      <div class="row primary-block">
        <div class="col s12">
          <div class="inner" v-html="post.content"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import format from 'date-fns/format'
import ruLocale from 'date-fns/locale/ru'

export default {
  name: 'BlogPostPage',

  props: {
    posts: Array,
  },

  computed: {
    post () {
      return this.posts.find((post) => {
        return post.slug === this.$route.params.slug
      })
    },

    date () {
      return this.post && this.post.publish_at && format(
        new Date(this.post.publish_at),
        'D MMMM YYYY',
        { locale: ruLocale }
      )
    },
  }
}
</script>

<style lang="stylus">
.blog-post
  .date-block
    margin-bottom 0
    margin-top 30px
    font-size 1.45rem
</style>
