<template>
  <div class="blog-view blog-main">
    <div class="container">
      <div class="row title-block">
        <div class="col s12">
          <div class="inner">
            <h1>Новости и статьи</h1>
          </div>
        </div>
      </div>
    </div>
    <section class="featured-news">
      <featured-news :posts="posts.featured(3)" :block-title="'Главное'" />
    </section>
    <section class="news-feed">
      <div class="news-feed-block container">
        <div class="row">
          <post-card class="col s6"
            v-for="post in posts"
            :post="post"
            :key="post.id"
            :wide="true"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import PostCard from '../partials/PostCard.vue'
import FeaturedNews from '../partials/FeaturedNews.vue'

export default {
  name: 'BlogPage',
  components: { FeaturedNews, PostCard },

  props: {
    posts: Array,
  },
}
</script>

<style lang="stylus">

</style>
