<template>
  <div class="catalog-view catalog-type">
    <div class="container">
      <div class="row title-block">
        <div class="col s12">
          <div class="inner">
            <h1>{{ $route.name }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="stylus">

</style>
