<template>
  <div class="catalog-type-page">
    <div class="container">
      <div class="row title-block">
        <div class="col s12">
          <div class="inner">
            <h1>{{ getPageTitle }}</h1>
          </div>
        </div>
      </div>
      <div class="row info-block">
        <div class="col s4 video-block">
          <div class="inner">
            <div class="video-wrapper">
              <div class="inner">
                <iframe width="100%" height="195px" frameborder="0"
                  :src="'https://www.youtube.com/embed/' + videoId"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col s8 summary-block">
          <div class="inner">
            <div class="summary-wrapper">
              <div class="inner">
                <div v-html="type.description" ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-block">
        <div class="col s3 filters">
          <div class="inner">
            <product-filters
              :types="types"
              :brands="brands"
              :filters="filters"
            />
          </div>
        </div>
        <div class="col s9 products">
          <div class="inner">
            <product-card class="col s4"
              v-for="product in topFilter"
              :key="product.id"
              :brands="brands"
              :product="product"
              v-show="isShowing(product)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductCard from '../partials/ProductCard.vue'
import ProductFilters from '../partials/ProductFilters.vue'

export default {
  components: { ProductFilters, ProductCard },
  data () {
    return {
      filterValues: null,
    }
  },

  props: {
    types: { type: Array, default () { return [] } },
    brands: { type: Array, default () { return [] } },
    products: { type: Array, default () { return [] } },
  },

  methods: {
    isShowing (product) {
      if (!this.filterValues) {
        return true
      }
      // this.filterValues.forEach(filter => {

      // })
      return
    },

      // let vm = this, i, filterKeys = this.getSelectedFiltersKeys()

      // return this.products.filter((product) => {
      //   for (i = 0; i < filterKeys.length; i++) {
      //     let filterKey = filterKeys[i],
      //       productKey = filterKey.substr(0, filterKey.length - 1) + '_id'
      //     if (vm.filterValues[filterKey]
      //       .includes(product[productKey])) {
      //       return true
      //     }
      //   }
      //   return false
      // })
    getSelectedFiltersKeys () {
      let filterValues = this.filterValues

      return Object.keys(filterValues).filter((key) => {
        return filterValues[key].length
      })
    },

    parseVideoId (url) {
      if (!url) {
        return ''
      }
      return url.replace(/^(?:(?:https?:\/\/)?(?:www\.)?youtube\.com\/)(?:watch\?v=|v\/)([a-zA-Z0-9_]*)/, '$1')
    },
  },

  computed: {

    videoId () {
      return this.parseVideoId(this.type.video)
    },

    type () {
      return this.types.find(type => type.slug === this.$route.params.slug)
    },

    getPageTitle () {
      return this.type && this.type.name
    },

    topFilter () {
      let slug = this.$route.params.slug
      return this.products.filter(product => product.type.slug === slug)
    },

    initialProducts () {
      return this.products.filter((product) => {
        let type = this.types && this.types.find((type) => {
          return type.id === product.type_id
        })
        return type && type.slug === this.$route.params.slug
      })
    },

    hasEmptyFilterValues () {
      let vm = this
      return Object.keys(vm.filterValues).every((key) => {
        return !vm.filterValues[key].length
      })
    },

    filters () {
      let filters = {}
      switch (this.$route.params.slug) {
      case 'primers':
        filters.surface = {
          items: ['металл', 'пластик'],
          type: 'checkboxes',
          title: 'Поверхность',
        }
        filters.usage = {
          items: 'usages',
          type: 'checkboxes',
          title: 'Области применения',
        }
        filters.basis = {
          type: 'checkboxes',
          items: ['акриловые', 'алкидные', 'эпоксидные'],
          title: 'Основа',
        }
        filters.composition = {
          type: 'checkboxes',
          items: [ 'однокомпонентные', 'двухкомпонентные 2:1',
            'двухкомпонентные 4:1', 'двухкомпонентные 5:1' ],
          title: 'Состав',
        }
        filters.form = {
          type: 'checkboxes',
          items: [ 'в аэрозоли', 'в банке' ],
          title: 'Форма выпуска',
        }
        break
      case 'fillers':
        filters.surface = {
          items: ['металл', 'пластик'],
          type: 'checkboxes',
          title: 'Поверхность',
        }
        filters.usage = {
          items: 'usages',
          type: 'checkboxes',
          title: 'Области применения',
        }
        break
      case 'clearcoats':
        filters.usage = {
          items: 'usages',
          type: 'checkboxes',
          title: 'Области применения',
        }
        filters.form = {
          type: 'checkboxes',
          items: [ 'в аэрозоли', 'в банке' ],
          title: 'Форма выпуска',
        }
        break
      case 'seamsealers':
        filters.usage = {
          items: 'usages',
          type: 'checkboxes',
          title: 'Области применения',
        }
        filters.form = {
          type: 'checkboxes',
          items: [ 'устойчивые', 'неустойчивые' ],
          title: 'Устойчивость к ультрафиолету',
        }
        filters.cover = {
          items: [ 'окрашиваемые', 'неокрашиваемые' ],
          type: 'checkboxes',
          title: 'Покрытие',
        }
        filters.basis = {
          items: [ 'акриловые', 'эпоксидные', 'водная' ],
          type: 'checkboxes',
          title: 'Основа',
        }
        filters.form = {
          type: 'checkboxes',
          items: [ 'в тюбике', 'в банке' ],
          title: 'Форма выпуска',
        }
        break
      case 'stonechips':
        filters.usage = {
          items: 'usages',
          type: 'checkboxes',
          title: 'Области применения',
        }
        break
      case 'abrasives':
        filters.selfType = {
          items: 'abrasivesTypes',
          type: 'checkboxes',
          title: 'Вид абразива',
        }
        filters.usage = {
          items: 'usages',
          type: 'checkboxes',
          title: 'Области применения',
        }
        filters.corn = {
          items: 'usages',
          type: 'interval',
          title: 'Зерно',
        }
        break
      case 'sprayguns':
        filters.selfType = {
          items: 'spraygunsTypes',
          type: 'checkboxes',
          title: 'Вид оборудования',
        }
        filters.usage = {
          items: 'usages',
          type: 'checkboxes',
          title: 'Области применения',
        }
        filters.accessories = {
          items: [ 'переходники', 'манометры' ],
          type: 'checkboxes',
          title: 'Комплектующие',
        }
        break

      default:
        break
      }
      return filters
    },
  },

  beforeCreate () {
    let vm = this
    this.$bus.$on('filter::change', (data) => {
      vm.filterValues = data
    })
  },
}
</script>

<style lang="stylus">
.catalog-type-page
  background #ebebeb
  .summary-block > .inner
    padding 30px
    background #fff
    width 1

</style>
