<template>
  <div class="catalog-view catalog-usage">
    <div class="container">
      <div class="row title-block">
        <div class="col s12">
          <div class="inner">
            <h1>{{ $route.meta.name }}</h1>
          </div>
        </div>
      </div>
      <div class="row content-block">
        <div class="col s3 filters">
          <div class="inner">
            <product-filters
              :types="types"
              :brands="brands"
              :top_colors="top_colors"
            />
          </div>
        </div>
        <div class="col s9 products">
          <div class="inner">
            <product-card class="col s4"
              v-for="product in products"
              :key="product.id"
              :product="product"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductCard from '../partials/ProductCard.vue'
import ProductFilters from '../partials/ProductFilters.vue'

export default {
  components: { ProductFilters, ProductCard },

  props: {
    types: { type: Array, default () { return [] } },
    brands: { type: Array, default () { return [] } },
    products: { type: Array, default () { return [] } },
    top_colors: { type: Array, default () { return [] } }
  }
}
</script>

<style lang="sass">
</style>
