<template>
  <div class="catalog-view catalog-main">
    <div class="container">
      <div class="row title-block">
        <div class="col s12">
          <div class="inner">
            <h1>Каталог</h1>
          </div>
        </div>
      </div>
      <div class="row content-block">
        <div class="col s3 filters">
          <div class="inner">
            <product-filters
              :types="types"
              :brands="brands"
              :filters="filters"
            />
          </div>
        </div>
        <div class="col s9 products">
          <div class="inner">
            <product-card class="col s4"
              v-for="product in products.filtered(filterValues)"
              :key="product.id"
              :brands="brands"
              :product="product"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductCard from '../partials/ProductCard.vue'
import ProductFilters from '../partials/ProductFilters.vue'

export default {
  components: { ProductFilters, ProductCard },

  data () {
    return {
      filterValues: null,
      filters: {
        brand: {
          title: 'Бренды',
          type: 'checkboxes',
          items: 'brands',
        },
        others: {
          type: 'checkboxes',
          items: {
            withVideo: {
              type: 'checkbox',
              label: 'С видео',
            }
          }
        },
      },
    }
  },

  props: {
    types: Array,
    brands: Array,
    products: Array,
  },

  computed: {
    hasEmptyFilterValues () {
      let vm = this
      return Object.keys(vm.filterValues).every((key) => {
        return !vm.filterValues[key].length
      })
    }
  },

  methods: {

    filterProducts () {
      let vm = this, i, filterKeys = this.getSelectedFilters()

      return this.products.filter((product) => {
        for (i = 0; i < filterKeys.length; i++) {
          let filterKey = filterKeys[i],
            productKey = filterKey.substr(0, filterKey.length - 1) + '_id'
          if (vm.filterValues[filterKey]
            .includes(product[productKey])) {
            return true
          }
        }
        return false
      })
    },

    // getSelectedFilters () {
    //   let filterValues = {}
    //   return Object.keys(this.filterValues).filter((key) => {
    //     filterValues[key] =
    //   })
    //   return filterValues
    // }
  },

  beforeCreate () {
    let vm = this
    this.$bus.$on('filter::change', values => {
      vm.filterValues = values
    })
  }
}
</script>

<style lang="stylus">
.bg-crumbs
  background #ebebeb
.catalog-view
  background #ebebeb
  padding-top 20px
  margin-top -20px
  .content-block
    margin-bottom 0
.product-card
  margin-bottom 20px
  > .inner
    height 350px
</style>
