<template>
  <div class="catalog-view catalog-product">
    <div v-if="product" class="container">
      <div class="row title-block">
        <div class="col s12">
          <div class="inner">
            <h1>{{ product.title }}</h1>
          </div>
        </div>
      </div>
      <div class="row primary-block">
        <div class="col s6 left-col" v-if="product.video">
          <div class="video-layout">
            <div class="inner">
              <div class="video-block">
                <div class="inner">
                  <iframe width="100%" height="320px" frameborder="0"
                    :src="'https://www.youtube.com/embed/' + videoId"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
              <div class="advantages-block">
                <div class="inner">
                  <div class="advantage"
                    v-for="adv in product.advantages"
                  >
                    <div class="text">
                      <div class="inner" v-html="adv">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tags-block">
                <div class="inner">
                  <router-link  v-for="tag, idx in product.tags"
                    v-html="tag" :key="idx" :to="'search/' + tag" class="tag" />
                </div>
              </div>
              <div class="rules-block">
                <div class="inner">
                  <div class="rules section-row"
                    v-if="product.entry && product.entry.pravila_primeneniya"
                  >
                    <div class="block-title">Правила применения</div>
                    <div class="text"
                      v-html="product.entry.pravila_primeneniya"
                    ></div>
                  </div>
                  <div class="extras section-row"
                    v-if="product.entry && product.entry.osobye_ukazaniya"
                  >
                    <div class="block-title">Особые указания</div>
                    <div class="text"
                      v-html="product.entry.osobye_ukazaniya"
                    ></div>
                  </div>
                  <div class="poverhnosty section-row"
                    v-if="product.poverhnost && product.poverhnost.length"
                  >
                    <div class="block-title">Пригодные для нанесения поверхности</div>
                    <div class="text"
                      v-for="item, index in product.poverhnost"
                      :key="index"
                      v-html="item"
                    ></div>
                  </div>
                  <div class="icons-list">
                    <div class="icon-item"
                      v-for="icon in product.icons"
                      :key="icon.id"
                    >
                      <img :src="'/app/apex/files-module/local/' + icon.path"
                        :alt="icon.name"
                      />
                      <div class="podpis" v-if="false">{{ icon.podpis_ikonki }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s6 right-col" v-if="product.video">
          <div>
            <div class="inner">
              <div class="content-block">
                <div class="inner">
                  <div v-if="product.new" class="new-label">
                    <div class="inner">
                      <div class="label">Новинка</div>
                    </div>
                  </div>
                  <div class="image-wrapper">
                    <img :src="product.image_url || ''"/>
                  </div>
                  <div v-html="product.summary || ''" class="summary-wrapper"></div>
                  <div class="buttons-row">
                    <a class="btn btn-large waves-effect waves-light"
                    >Заказать</a>
                    <a class="btn btn-large waves-effect waves-light btn-primary"
                      v-if="product.entry.tds_url"
                      @click="download(product.entry.tds_url)"
                    >Скачать TDS</a>
                    <a class="btn btn-large waves-effect waves-light btn-primary"
                      v-if="product.entry.msds_url"
                      @click="download(product.entry.msds_url)"
                    >Скачать MSDS</a>
                  </div>
                </div>
              </div>
              <product-properties :properties="product.properties_array" />
            </div>
          </div>
        </div>
        <div class="col s12 full-col" v-if="!product.video">
          <div class="inner">
            <div class="content-block">
              <div class="inner row">
                <div v-if="product.new" class="new-label">
                  <div class="inner">
                    <div class="label">Новинка</div>
                  </div>
                </div>
                <div class="col s6">
                  <div class="image-wrapper"><img
                    :src="product.image_url || ''"/></div>
                </div>
                <div class="col s6">
                  <div class="inner">
                    <div v-html="product.summary || ''" class="summary-wrapper"></div>
                    <div class="buttons-row">
                      <a class="btn btn-large waves-effect waves-light"
                      >Заказать</a>
                      <a class="btn btn-large waves-effect waves-light btn-primary"
                        @click="download(product.entry.tds_url)"
                        v-if="product.entry.tds_url"
                      >Скачать TDS</a>
                      <a class="btn btn-large waves-effect waves-light btn-primary"
                        @click="download(product.entry.msds_url)"
                        v-if="product.entry.msds_url"
                      >Скачать MSDS</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="advantages-block col s6" v-if="!product.video">
          <div class="inner">
            <div class="advantage"
              v-for="adv in product.advantages"
            >
              <div class="text">
                <div class="inner" v-html="adv"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tags-block col s6" v-if="!product.video">
          <div class="inner">
            <router-link  v-for="tag, idx in product.tags"
              v-html="tag" :key="idx" :to="'search/' + tag" class="tag" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// <section class="tabs-section">
//   <div class="container">
//     <div class="row tabs-block">
//       <div class="col s12">
//         <ul class="tabs">
//           <li class="tab">
//             <a href="#related" class="active"
//               v-text="'Сопутствующие товары'"
//             ></a>
//           </li>
//           <li class="tab">
//             <a href="#articles" v-text="'Статьи о товаре'"></a>
//           </li>
//         </ul>
//       </div>
//     </div>
//   </div>
// </section>
// <section id="related">
//   <div class="container">
//     <div class="row">
//       <product-card class="col s3"
//         v-for="relatedProduct in related"
//         :key="relatedProduct.id"
//         :product="relatedProduct"
//         :brands="brands"
//       ></product-card>
//     </div>
//   </div>
// </section>
// <section id="articles">
//   <div class="container">
//     <div class="row">
//       <post-card v-for="entry in articles"
//         :post="entry"
//         :key="entry.id"
//         class="col s4"
//         ></post-card>
//     </div>
//   </div>
// </section>
// <div class="row sku-block">
//         <div class="col s6">
//           <div class="inner"
//             v-if="product.variants_array && product.variants_array.length"
//           >
//             Артикул<span v-if="product.variants_array.length > 1">ы</span>:
//             <span v-for="(variant, idx) in product.variants_array">
//               {{ variant.sku }}<span v-if="idx !== product.variants_array.length - 1">, </span>
//             </span>
//           </div>
//         </div>
//       </div>

import PostCard from '../partials/PostCard.vue'
import ProductCard from '../partials/ProductCard.vue'
import ProductProperties from '../partials/ProductProperties.vue'

export default {
  components: { ProductCard, PostCard, ProductProperties },
  props: {
    products: Array,
    brands: Array,
    posts: Array,
  },

  computed: {
    videoId () {
      return this.parseVideoId(this.product.video)
    },
    articles () {
      return this.posts.slice(0, 3)
    },
    related () {
      return this.products.filter((product) => {
        return true
      }).slice(0, 4)
    },
    product () {
      return this.products.find((product) => {
        return product.slug === this.$route.params.slug
      })
    },
  },

  metaInfo () {
    return {
      title: this.product && this.product.title || '',
      meta: [{
        vmid: 'description',
        name: 'description',
        content: this.product && this.product.summary.stripTags()
      }, {
        vmid: 'author',
        name: 'author',
        content: 'Denis Efremov'
      }]
    }
  },

  methods: {
    parseVideoId (url) {
      return url.replace(/^(?:(?:https?:\/\/)?(?:www\.)?youtu\.?be\/?(?:\.com\/)?)(?:watch\?v=|v\/)?([a-zA-Z0-9_]*)/, '$1')
    },
    download (file) {
      window.open(file)
    }
  },

  created () {
    this.$bus.$on('main::endFetching', () => {
      window.setTimeout(() => {
        let tabs = $('ul.tabs')
        tabs.tabs()
      }, 1000)
    })
  },

  activated () {
    window.setTimeout(() => {
      let tabs = $('ul.tabs')
      tabs.tabs()
    }, 1000)
  }
}
</script>

<style lang="stylus">
.catalog-view.catalog-product
  .advantages-block
    padding 30px 0
    text-align center
    .advantage
      display inline-block
      margin 0 15px
      font-weight bold
      color #fff
      font-size 1.05em
      .text
        display table-cell
        margin 0 0px
        padding 20px
        width 140px
        height 140px
        vertical-align middle
        background #f25555
        border-radius 50%
        .inner
          width 110px
      &:first-child
        .text
          background #00a5b8
      &:last-child
        .text
          background #000
  .tags-block
    padding 15px 0
    display flex
    flex-direction row
    font-size 1.2em
    flex-wrap wrap
    .tag
      background #fff
      display inline-block
      color #00a5b8
      padding 3px 10px
      margin-right 15px
      margin-bottom 17px
      border-radius 2px
      font-size 0.9em
      font-weight bold
  .block-title
    color #000
    font-size 1.29rem
    font-weight bold
    line-height 1.2
    margin-bottom 1.4rem
  .btn
    margin-right 15px
    padding 0 20px
  .row.title-block
    margin-bottom 30px
  .sku-block
    font-size 1.2em
    margin-bottom 35px
  .primary-block
    margin-bottom 0
    .right-col > .inner
      background #fff
    .full-col
      .inner
        background #fff
        .image-wrapper
          margin-bottom 0
    .content-block
      padding 25px 40px
      position relative
      .new-label
        top 30px
        left 35px
      .image-wrapper
        text-align center
        margin-bottom 20px
      .summary-wrapper
        margin-bottom 20px
        line-height 1.3
        margin-top 30px
  .rules-block
    background #fff
    .section-row
      margin-bottom 30px
    > .inner
      padding 25px 40px
      > .text
        line-height 1.375rem
      .icons-list
        margin-top 20px
        .icon-item
          margin-right 20px
          display inline-flex
          flex-direction column
          max-width 50px
  .properties-block
    background #fff
    > .inner
      padding 25px 40px
    table
      margin-top 26px
      td
        padding 9px 10px
        &:first-child
          width 42%
          font-weight bold
  .tabs-block
    margin-top 40px
    margin-bottom 0
    .tabs
      height 70px
      .tab
        height 70px
        a
          color #00a5b8
          font-size 1.3em
          text-transform none
          font-weight bold
          padding 0.5em 1.4em
          letter-spacing -0.025em
          line-height 2.5em
          &:hover
          &.active
            color #000
  #related
  #articles
    // background-image url('/app/apex/files-module/local/backgrounds/footer_feedback.jpg')
    padding-top 60px
    background #fff
    padding-bottom 10px
  .content
    padding-bottom 40px
    border-bottom 10px solid #00a5b8
    .block-title
      .inner
        padding-top 50px
    .block-content
      .inner
        padding 35px
        background #fff
</style>
