<template lang="jade">
.contacts-view
  section.title-row
    .container
      .row.title-block
        .col.s12
          .inner
            h1 {{ $route.meta.name }}
      .row.content-block
        .col.s12
          .inner Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda est provident qui aliquid ipsum fuga error incidunt eum asperiores tempora nam, id aliquam iusto alias obcaecati sapiente sequi nulla itaque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dignissimos, vel similique dolore nesciunt amet quam delectus tempora quas harum sed unde, iusto enim blanditiis quidem nulla ut! Cupiditate, sunt.
      .row.question
        .col.s12
          .inner
            h3 Если у вас есть вопросы, позвоните или напишите нам
        .col.s3.phone-mail
          .inner
        .col.s9.contact-form
          .inner
            form.axios-form(mode="POST" v-on:submit.prevent="submitForm")
              input(type="hidden" name="csrf_token" v-model="form.csrfToken")
              .inner.inner-left
                .input-field
                  label(for="name-field") Контактное лицо *
                  input#name-field.validation(
                    type="text"
                    name="name"
                    v-model="form.name"
                  )
                .input-field
                  label(for="email-field") Электронная почта *
                  input#email-field.validation(
                    type="email"
                    name="email"
                    v-model="form.email"
                  )
                .input-field
                  label(for="message-field") Сообщение *
                  textarea#message-field.materialize-textarea.validation(
                    name="message"
                    v-model="form.message"
                  )
              .inner.inner-right
                .input-field
                  label(for="phone-field") Телефон *
                  input#phone-field.validation(
                    type="text"
                    name="phone"
                    v-model="form.phone"
                    v-on:blur="phone = (phone === '+7 (') ? '' : phone "
                    v-on:focus="phone = '+7 ('"
                    v-mask="'+7 (###) ###-##-##'"
                    placeholder="+7 (___) ___-__-__"
                  )
                .input-field
                  label(for="city-field") Из какого вы города? *
                  input#city-field.validation(
                    type="text"
                    name="city"
                    v-model="form.city"
                  )
                button.waves-effect.waves-light.btn-large(
                  type="submit") Отправить
                .helper * - Все поля, обязательны для заполнения.
</template>

<script>
export default {
  data () {
    return {
      form: {
        city: '',
        name: '',
        email: '',
        phone: '',
        action: '/question',
        message: '',
        csrfToken: CSRF_TOKEN
      }
    }
  },

  methods: {
    submitForm (ev) {
      this.$http.post(this.form.action, this.form)
        .then((response) => {
          this.$bus.$emit('form.question::success', response.data)
        })
    }
  }
}
</script>

<style lang="sass">
.contacts-view {
  background: #fff;
  .title-block {
    h1 {
      margin: 2px 0 0;
    }
  }
  .content-block {
    line-height: 2em;
  }
  .question {
    h3 {
      font-size: 2em;
      font-weight: bold;
      margin: 10px 0 0 0;
    }
    .contact-form {
      margin-top: 35px;
      margin-bottom: 30px;
      > .inner {
        background: #ebebeb;
        padding: 0 30px 0 10px;
        form {
          > .inner {
            width: 50%;
            display: inline-table;
            padding: 30px 30px 0;
            .input-field {
              margin-top: 2rem;
              margin-bottom: 3rem;
              label {
                margin: 0;
                padding: 0;
                top: -28px;
                transform: none;
                font-size: 1.05em;
                color: #000;
                left: 3px;
              }
              input {
                margin: 0;
                padding: 12px 10px;
              }
            }
            .helper {
              margin-top: 15px;
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
}
</style>
