<template>
  <div class="index-view">
    <section class="banner" :style="{ backgroundImage: bg.banner }">
      <banner />
    </section>
    <section class="featured-news">
      <featured-news :posts="posts.featured(3)" />
    </section>
    <section class="featured-products" :style="{ backgroundImage: bg.featProds }">
      <featured-products :products="products.featured(4)" />
    </section>
    <section class="main-product">
      <main-product />
    </section>
    <section class="brands" :style="{ backgroundImage: bg.brands }">
      <brands :brands="brands"/>
    </section>
    <section class="where-to-buy">
      <where-to-buy />
    </section>
    <section class="reviews">
      <reviews :reviews="getReviewsForBlock" />
    </section>
  </div>
</template>

<script>
import Banner from '../partials/Banner.vue'
import Brands from '../partials/Brands.vue'
import Reviews from '../partials/Reviews.vue'
import WhereToBuy from '../partials/WhereToBuy.vue'
import MainProduct from '../partials/MainProduct.vue'
import FeaturedNews from '../partials/FeaturedNews.vue'
import FeaturedProducts from '../partials/FeaturedProducts.vue'

export default {
  components: { Banner, FeaturedNews, FeaturedProducts, MainProduct,
    Brands, WhereToBuy, Reviews },

  data () {
    return {
      bg: {
        banner: 'url(\'/app/apex/files-module/local/backgrounds/main_banner.jpg\')',
        featProds: 'url(\'/app/apex/files-module/local/backgrounds/1.jpg\')',
        brands: 'url(\'/app/apex/files-module/local/backgrounds/main_brands.jpg\')'
      }
    }
  },

  props: {
    products: { type: Array, default () { return [] } },
    reviews: { type: Array, default () { return [] } },
    brands: { type: Array, default () { return [] } },
    posts: { type: Array, default () { return [] } }
  },

  computed: {

    getFeaturedPosts () {
      return this.posts.filter((post) => {
        return post.featured
      }).sort((a, b) => {
        return a.created_at < b.created_at
      }).slice(0, 3)
    },

    getFeaturedProducts () {
      return this.products.filter((product) => {
        return product.featured
      }).sort((a, b) => {
        return a.created_at < b.created_at
      }).slice(0, 4)
    },

    getBrandsForBlock () {
      return this.brands.slice(0, 3)
    },

    getReviewsForBlock () {
      return this.reviews
    }
  }
}
</script>

<style lang="stylus">
section
  background-repeat no-repeat
  background-size 100%
  background-position center top
  background-attachment fixed
  &.banner
    height 430px
  &.featured-news
    height 285px
  &.featured-products
    border-top 10px solid #00a5b8
  &.main-product
    background-color #ebebeb
  &.brands
    height 530px
  &.where-to-buy
    background #fff
    border-top 10px solid #00a5b8
    height 720px
  &.reviews
    background #000
    border-top 10px solid #00a5b8
    height 580px
</style>
