<template>
  <div class="learn-view learn-main">
    <section class="heading">
      <div class="container">
        <div class="row title-block">
          <div class="col s8">
            <div class="inner">
              <h1>Учебный центр</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="slider">
      <banner
        :banners="[{
          title: 'Профессиональные курсы Автомаляр',
          description: 'Интенсивные практические занятия по восстановительному ремонту и окраске а/м для начинающих и профессионалов'
        }]"
      />
    </section>
    <section class="courses-info">
      <div class="container">
        <div class="row text">
          <div class="col s12 center">
            <h2>Интенсивные кусры PROfill</h2>
          </div>
          <div class="col s12 center">
            <h3>Каждый курс посвящен отдельному этапу ремонта автомобиля и содержит:</h3>
          </div>
        </div>
        <div class="row graph">
          <div class="col s4 center">
            <hat-svg />
            <div class="percent">35%</div>
            <div class="desc">важной теории</div>
          </div>
          <div class="col s4 center">
            <talk-svg />
            <div class="percent">15%</div>
            <div class="desc">индивидуальной работы с преподователем</div>
          </div>
          <div class="col s4 center">
            <car-svg />
            <div class="percent">50%</div>
            <div class="desc">практики</div>
          </div>
        </div>
      </div>
    </section>
    <section class="courses-grid">
      <div class="container">
        <div class="row text">
          <div class="col s12 center">
            <h2>Программа курсов</h2>
          </div>
          <div class="col s12 center">
            <h4>Пройдите курс по интересующей теме или весь цикл занятий</h4>
          </div>
        </div>
        <div class="row grid">
          <div class="col s6"
            v-for="(course, index) in courses"
            :key="index"
          >
            <div class="inner"
              :style="{ backgroundImage: 'url(' + course.image + ')' }"
            >
              <div class="caption">
                <div class="date" v-text="course.date"></div>
                <span v-text="course.number + ': '" class="number"></span>
                <span v-text="course.title" class="title"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="teachers">
      <div class="container">
        <div class="row heading">
          <div class="col s12">
            <div class="inner">
              <h2>Преподаватель курса</h2>
            </div>
          </div>
        </div>
        <div class="row content">
          <div class="col s4 image-col">
            <div class="inner"><img src="/img/teacher.jpg"/></div>
          </div>
          <div class="col s8 info-col">
            <div class="inner">
              <h3 class="name">Павел Сергеев</h3>
              <div class="speciality">Руководитель учебного центра PROfill</div>
              <div class="speciality">Главный технолог компании Апекс</div>
              <div class="text">
                <p>Павел Сергеев работает в сфере восстановительного ремонта и покраски а/м более 20 лет: в качестве практикующего мастера,технолога и преподавателя. Является выпускником многочисленных курсов повышения квалификации, сертифицированным технологом HB BODY S.A., экспертом международной некоммерческой организации WorldSkill.</p>
                <p>На курсах Павел доступно расскажет о сложном, поможет отработать и закрепить знания на практике, ответит абсолютно на все вопросы.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="advantages">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col s4">
            <div class="inner">
              <div class="line"></div>
              <div class="text">Полное погружение</div>
              <div class="fact">1 день = 1 тема</div>
            </div>
          </div>
          <div class="col s4">
            <div class="inner">
              <div class="line"></div>
              <div class="text">Интенсивное обучение</div>
              <div class="fact">1 курс = 8 часов</div>
            </div>
          </div>
          <div class="col s4">
            <div class="inner">
              <div class="line"></div>
              <div class="text">Отработка навыков</div>
              <div class="fact">50% курса = практика</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="promo">
      <div class="container">
        <div class="row text">
          <div class="col s12 center">
            <h2>Что вам дают курсы PROfill?</h2>
          </div>
          <div class="col s12 center">
            <h4>Профессиональный сертификат о прохождении курса и бесценный опыт</h4>
          </div>
          <div class="col s12 center">
            <div class="plus"></div>
          </div>
        </div>
        <div class="row graph">
          <div class="col s3 center">
            <bulb-svg></bulb-svg>
            <div class="desc">Новые знания<br>и практические навыки</div>
          </div>
          <div class="col s3 center">
            <growth-svg></growth-svg>
            <div class="desc">Повышение<br>эффективности работы</div>
          </div>
          <div class="col s3 center">
            <thumbs-up-svg></thumbs-up-svg>
            <div class="desc">Больше довольных<br>клиентов</div>
          </div>
          <div class="col s3 center">
            <money-svg></money-svg>
            <div class="desc">Рост<br>доходов</div>
          </div>
        </div>
      </div>
    </section>
    <section class="reviews">
      <reviews :reviews="getReviewsForBlock"></reviews>
    </section>
    <section class="courses-buy">
      <div class="container">
        <div class="row">
          <div class="col s4 left-area">
            <div class="inner">
              <div class="heading-row">Стоимость курса</div>
              <div class="price">2500</div>
              <div class="time">Время занятий с 10:00 до 18:00</div>
              <div class="date">Курсы проходят каждую неделю</div>
              <div class="address">в УМЦ PROfill:<br>г. Санкт-Петербург, пр. Космонавтов, 96</div>
            </div>
          </div>
          <div class="col s8 right-area">
            <div class="inner">
              <div class="map">
                <div id="g-map"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import CarSvg from '../svg/CarSvg.vue'
import HatSvg from '../svg/HatSvg.vue'
import TalkSvg from '../svg/TalkSvg.vue'
import BulbSvg from '../svg/BulbSvg.vue'
import MoneySvg from '../svg/MoneySvg.vue'
import GrowthSvg from '../svg/GrowthSvg.vue'
import ThumbsUpSvg from '../svg/ThumbsUpSvg.vue'

import Banner from '../partials/Banner.vue'
import Reviews from '../partials/Reviews.vue'

export default {
  components: { Reviews, Banner, CarSvg, HatSvg, TalkSvg, BulbSvg, MoneySvg,
    GrowthSvg, ThumbsUpSvg },
  props: {
    // products: { type: Array, default () { return [] } },
    reviews: { type: Array, default () { return [] } },
    // brands: { type: Array, default () { return [] } },
    // posts: { type: Array, default () { return [] } }
    courses: { type: Array, default () {
      return [
        {
          title: 'Шпатлевание и выравнивание поверхности',
          image: '/img/courses1.jpg',
          number: 'Курс №1',
          date: '20/12/2016'
        },
        {
          title: 'Грунты и грунтование',
          image: '/img/courses2.jpg',
          number: 'Курс №2',
          date: '27/12/2016'
        },
        { title: 'Технология окраски',
          image: '/img/courses3.jpg',
          number: 'Курс №3',
          date: 'Дата уточняется'
        },
        { title: 'Полировка',
          image: '/img/courses4.jpg',
          number: 'Курс №4',
          date: 'Дата уточняется'
        },
      ]
    } },
  },
  computed: {
    getReviewsForBlock () {
      return this.reviews.slice(0, 12)
    }
  }
}
</script>

<style lang="stylus">
.plus
  width 30px
  height 30px
  position relative
  margin 45px auto 20px
  &::after
  &::before
    content ''
    position absolute
    background #000
  &::before
    width 30px
    height 4px
    left 0
    top calc(50% - 2px)
  &::after
    width 4px
    height 30px
    top 0
    left calc(50% - 2px)
section
  &.slider
    background-image url('/app/apex/files-module/local/backgrounds/head.jpg')
  &.courses-info
    background #fff
    height 420px
    padding-top 25px
    .courses-info-color
      fill #252422
    .percent
      font-size 4rem
      font-weight bold
      margin-bottom -15px
      color rgb(0, 165, 184)
    .graph
      > .col
        margin-top 54px
        > svg
          height 40px
  &.courses-grid
    height 860px
    padding-top 25px
    .grid
      margin-top 45px
      .col
        margin-bottom 30px
      .inner
        height 300px
        position relative
        background-position center
        background-size 100%
        .caption
          bottom 0
          background rgba(0, 0, 0, 0.4)
          position absolute
          width 100%
          padding 15px 30px 15px
          font-size 1.2rem
          font-weight bold
          color #fff
          .number
            color #00a5b8
  &.teachers
    height 510px
    background #fff
    padding-top 30px
    .content
      > .image-col
        > .inner
          width 85%
          padding-top 20px
          img
            max-height inherit
      > .info-col
        .name
          margin-bottom 0.3rem
        .speciality
          font-size 1.05em
          line-height 2em
        .text
          margin-top 28px
          line-height 2em
  &.advantages
    &:before
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
      opacity: .6;
    background-image url('/app/apex/files-module/local/backgrounds/advantages.jpg')
    height 330px
    background-attachment inherit
    background-repeat no-repeat
    background-position center
    background-size auto 100%
    position relative
    .line
      background #fff
      width 100%
      height 6px
      margin-top 78px
    .text
      font-size 3.3rem
      font-weight bold
      color #fff
      line-height 1.1
      margin-top 20px
    .fact
      color #fff
      font-size 1.65rem
      line-height 2.4em
  &.promo
    height 460px
    padding-top 25px
    background #fff
    .desc
      margin-top 15px
      line-height 2
  &.reviews
    height 560px
  &.courses-buy
    height 440px
    .left-area
      .inner
        font-size 1.2rem
        padding-top 50px
        font-weight bold
        .heading-row
          font-size 2.65rem
        .price
          color #00a5b8
          font-size 4rem
        .time
          margin-top 40px
        .date
          margin-top 35px
        .address
          font-weight bold
          line-height 1.7
    #g-map
      width 100%
      height 440px
// .overlay
//   position relative
//   &:before
//     content ''
//     position absolute
//     top 0
//     left 0
//     width 100%
//     height 100%
//     background rgba(0, 165, 184, 0.6)
</style>
