<template>
  <div class="partners-view partners-main">
    <section class="first-section">
      <div class="container">
        <div class="row title-block">
          <div class="col s12">
            <div class="inner">
              <h1>{{ $route.meta.name }}</h1>
            </div>
          </div>
        </div>
        <div class="row quote-block sinij_tekst_sverhu-block">
          <div class="col s12">
            <div class="inner">
              <blockquote>{{ partners.sinij_tekst_sverhu || '' }}</blockquote>
            </div>
          </div>
        </div>
        <div class="row row_3_cols-block">
          <div class="col s4" v-for="col in partners.row_3_cols">
            <div class="inner center">
              <img src="" alt="">
              <h2 class="small-title">{{ col.zagolovok || '' }}</h2>
              <p>{{ col.opisanie || '' }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="second-section">
      <div class="container">
        <div class="row title-block">
          <div class="col s12">
            <div class="inner center">
              <h2>{{ partners.zagolovok_ryada_4 }}</h2>
            </div>
          </div>
        </div>
        <div class="row row_4_cols-block">
          <div class="col s3" v-for="col in partners.row_4_cols">
            <div class="inner">
              <img src="" alt="">
              <h2 class="small-title">
                <span class="number">{{ col.chislo || '' }}</span>
                <span class="word">{{ col.zagolovok || '' }}</span>
              </h2>
              <div class="desc">{{ col.opisanie || '' }}</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="third-section">
      <div class="container">
        <div class="row video-block">
          <div class="col s6">
            <div class="inner">
              <iframe width="100%" height="340px" frameborder="0" allowfullscreen
                :src="'https://www.youtube.com/embed/' + parseVideoId(partners.video)"
              ></iframe>
            </div>
          </div>
          <div class="col s6">
            <div class="inner">
              <h2 class="h1">{{ partners.video_zagolovok || '' }}</h2>
              <p>{{ partners.video_soderzhimoe || '' }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fourth-section">
      <div class="container">
        <div class="row learn-block">
          <div class="col s9">
            <div class="inner">
              <h2 class="h1">{{ partners.obuchayushie_kursy || '' }}</h2>
              <p>{{ partners.obuchayushie_kursy_soderzhimoe || '' }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fifth-section">
      <div class="container">
        <div class="row ad-sup">
          <div class="col s12">
            <div class="inner">
              <h2 class="h1">
                {{ partners.reklamnaya_podderzhka_zagolovok || '' }}
              </h2>
              <p>{{ partners.reklamnaya_podderzhka_soderzhimoe || '' }}</p>
              <h3 class="h2">
                {{ partners.reklamnaya_podderzhka_tekst_snizu || '' }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sixth-section">
      <div class="container">
        <div class="row title-block">
          <div class="col s12">
            <div class="inner">
              <h2 class="h1">
                {{ partners.pryamaya_svyaz_s_pokupatelyami_zagolovok || '' }}
              </h2>
            </div>
          </div>
        </div>
        <div class="row main-block">
          <div class="col s6">
            <div class="inner">
              <iframe width="100%" height="340px" frameborder="0" allowfullscreen
                :src="'https://www.youtube.com/embed/' + parseVideoId(partners.video)"
              ></iframe>
            </div>
          </div>
          <div class="col s6">
            <div class="inner">
              <p>{{ partners.pryamaya_svyaz_s_pokupatelyami_soderzhimoe || '' }}</p>
            </div>
          </div>
        </div>
        <div class="row bottom-block">
          <div class="col s9">
            <div class="inner">
              <h2>
                {{ partners.pryamaya_svyaz_s_pokupatelyami_tekst_snizu || '' }}
              </h2>
            </div>
          </div>
          <div class="col s3">
            <div class="inner">
              <button class="waves-effect waves-light btn-large">
                Оформить заявку
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'PartnersPage',
  props: {
    partneram: { type: Object, default () { return {} } },
  },
  computed: {
    partners () {
      let main = this.partneram[0]
      main.row_3_cols = this.partneram.row_3_cols
      main.row_4_cols = this.partneram.row_4_cols
      return main
    },
  },
  methods: {
    parseVideoId (url) {
      if (!url) {
        return ''
      }
      return url.replace(/^(?:(?:https?:\/\/)?(?:www\.)?youtube\.com\/)(?:watch\?v=|v\/)([a-zA-Z0-9_]*)/, '$1')
    },
  },
}
</script>

<style lang="stylus">
.partners-view
  .first-section
    height 703px
    .row_3_cols-block
      line-height 1.75
      img
        height 90px
      .small-title
        line-height 1.85
        font-size 1.65rem
      p
        margin 7px 0
  .second-section
    height 510px
    color #fff
    .title-block
      margin-bottom 80px
    .col.s3 > .inner
      border-top 6px solid
      padding-top 20px
    .small-title
      font-size 2rem
      margin-bottom 24px
      .number
        font-size 4.65rem
    .desc
      font-size 1.65rem
      font-weight bold
      line-height 1.25
  .third-section
    height 440px
    .video-block
      h2.h1
        line-height 1.25
        margin-top 10px
      p
        line-height 1.75
  .fourth-section
    height 280px
    padding-top 60px
    color #fff
    background #000
    p
      line-height 2.35
      margin-top 14px
  .fifth-section
    padding-top 50px
    p
      line-height 1.75
    h3
      font-size 1.65rem
  .sixth-section
    padding-bottom 38px
    .title-block
      margin 52px 0 0 -10px
    .main-block
      p
        margin-top 10px
        line-height 1.75
    .bottom-block
      margin-top 38px
      h2
        margin-top 10px
        line-height 1.3
      button
        width 100%
        margin-top 25px
</style>
